/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Raleway:100normal,200normal,300normal,400normal,500normal,600normal,700normal,800normal,900normal|Lato:100normal,100italic,300normal,300italic,400normal);
/* Main Styles */

@font-face {
    font-family: 'playfair_displayitalic';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'), url('../fonts/playfairdisplay-italic-webfont.woff') format('woff'), url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype'), url('../fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair_displayregular';
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'), url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'), url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'), url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
::selection {
    background-color: #3c3c3c;
    color: #fff;
}
body {
    color: #555;
}
html,
body {
    background: #f1f3f2;
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}
a{
    color: #4D8C47;
    text-decoration: none;
    outline: none;
        -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}
a:hover,
a:active,
a:focus {
    color: #aaa;
        text-decoration: none;
    outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
img {
    border: 0 none;
    max-width: 100%;
    width: auto;
	height:auto
}
p {
    margin: 0 0 5px;
}
.clear {
    clear: both;
}
ol,
ul {
    list-style: none;
    padding: 0;
}
b.caret {
    margin-top: -3px;
}
/* Titles */

.main_title {
    color: #29A9FF;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0;
    margin: 20px 0px;
}
.main_caption {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.04em;
    margin: 15px 15px 40px 15px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.main_caption:after {
    content: "";
    position: absolute;
    top: -15px;
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-top: 8px solid rgba(0, 0, 0, 0);
    border-bottom: 8px solid rgba(0, 0, 0, .3);
    left: 49%;
}
/* parallax */

.parallax {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}
/* Page Animated item Styles */

/*
.animated {
    visibility: hidden;
}*/

.visible {
    visibility: visible;
}
/* Page Loading */

#pageloader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #2D3E48;
    z-index: 999999;
}
.loader-item {
    position: absolute;
    width: auto;
    height: height;
    margin: -25px 0 0 -25px;
    top: 50%;
    left: 50%;
    text-align: center;
}
.loader-item h2 {
    color: #ccc;
    margin: 0 auto;
    font-size: 20px;
}
/* Containers */

.main-content {
    width: 100%;
    position: relative;
    height: auto;
}
.content {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 25px 0px;
    position: relative;
    z-index: 2;
}
.full-width {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}
.no-padding {
    padding: 0 !important;
}
/* Page Headers */

.header {
    margin: auto;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
.top_details {
    line-height: 28px;
}
.top_details span.details-on-top {
    color: #BFCAD0;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    position: relative;
}
.top_details span.details-on-top i {
    margin-right: 3px;
    color: #fff;
}
.dark {
    color: #3c3c3c;
}
.white {
    color: white;
}
span.red {
    color: #e70000;
}
/* End Main Styles */
/* Home */

#home {
    width: 100%;
    height: auto;
    position: relative;
}
#home:after {
    border-bottom: 1px solid #FFFFFF;
    content: "";
    position: absolute;
    width: 100%;
    opacity: .3;
    bottom: -1px;
    z-index: 2;
}
/* Page Top */

.sticky-wrapper {
    position: fixed;
    z-index: 999
}
#pagetop {
    /*background: #2D3E48;*/
    
    padding: 12px 0;
    position: relative;
    z-index: 10000;
}
#pagetop:after {
    border-bottom: 0px solid #FFFFFF;
    content: "";
    height: 4px;
    opacity: 0.1;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 1;
    filter: alpha(opacity=10);
}
.pagetop {
    padding: 0;
    color: #a4a4a4;
    font-weight: 300;
}
.pagetop .left {
    text-align: left;
    padding: 0;
}
.pagetop .right {
    text-align: right;
    padding: 0;
}
.top-social-media a {
    border: 1px solid #5C717D;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    color: #89D6DB;
    display: inline-block;
    height: 30px;
    line-height: 27px;
    margin-left: 5px;
    text-align: center;
    width: 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.top-social-media a:hover {
    color: #fff;
    border-color: #89D6DB;
}
/* TOP Header */

.top-right a {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}
/* Navigation */

.darkHeader #pagetop {
    display: none
}
.darkHeader #topSection {
    background: #4D8C47
}
#topSection {
    width: 100%;
    padding-bottom:10px;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: all 0.2s ease-in-out;
}
.head-in{padding-bottom:15px}
#navigation {
    width: 100%;
    position: relative;
    z-index: 9999;
    /*background: #202E37;*/
    
    height: 82px;
}
#navigation:after {
    border-bottom: 0px solid #FFFFFF;
    content: "";
    height: 1px;
    opacity: 0.2;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 0;
    filter: alpha(opacity=20);
}
#navigation .navigation {
    padding: 0;
    height: 100%;
}
.shadow {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
/* Logo */

.navigation .logo {
    float: left;
    position: absolute;
    z-index: 999;
}
.navigation .logo a {
    width: auto;
    display: block;
    margin: 20px 0 0;
}
/* Nav Menu */

.nav-menu {
    width: auto;
    float: right;
    /*height: 82px;*/
    
    text-align: right;
}
.nav-menu ul {
    padding: 0;
    margin: 0;
}
.nav > li {
    margin-bottom: 7px;
    margin-right: 7px;
}
.nav-menu ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 12px 0px 0px 0px;
    padding: 0 4px;
    width: auto;
}
.nav-menu ul li a {
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    height: auto;
    padding: 8px 15px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
	font-weight:600
}
.nav-menu ul li a span {
    /*border-top: 2px solid #e6e6e7;*/
    display: block;
    margin: 12px auto;
    /*max-width: 130px;*/
    padding-top: 12px;
    text-align: center;
	position:relative
}
/*.nav-menu ul li a span:before{
	width:64px;
	height:2px;
	background:#e6e6e7;
	content:'';
	position:absolute;
	left:50%;
	margin-left:-32px;
	display:block;
	top:0
}*/
.hav_sub_menu_arrow {
    display: block !important;
    position: absolute;
    right: 38%;
    top: 100%;
    color: #F26341;
    font-size: 20px;
}
.nav-menu ul li:last-child {
    border-right: none;
}
.nav-menu a:hover {
    color: #fff;
}
.nav-menu a.active {
    color: #e70000;
}
.main-nav > li > a:hover,
.main-nav > li > a:focus {
    background: transparent;
}
.main-nav li.active a {
    background: transparent;
    color: #FFFFFF;
}
/* Mini Navigation For Mobile */

.mobile-drop {
    height: 100%;
    width: 100%;
    display: none;
}
a.mobile-menu {
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    font-size: 21px;
    right: 30px;
    left: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mobile-drop ul.fullwidth {
    width: 100%;
    position: relative;
}
.mobile-drop ul.fullwidth li {
    width: 100%;
    height: auto;
    margin: 0;
}
.mobile-drop ul.fullwidth li a {
    padding: 6px;
    margin: 0;
    height: auto;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #ededed;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-drop ul.fullwidth li.active a {
    background-color: #383838;
    color: white;
}
/* Dropdown Menu */

.dropdown-menu li a span {
    border-top: medium none !important;
    display: block;
    margin: 0 auto !important;
   /* max-width: 130px;*/
    padding-top: 0 !important;
    text-align: center;
}
.nav-menu .dropdown-menu li a span:before{display:none}
.nav-menu .dropdown-menu {
    border: medium none;
    margin-top: 12px !important;
    background: rgba(77,140,71, 0.8);
    border-radius: 0;
    border-top: 3px solid #4D8C47;
    margin-left: -100px !important;
	width:205px;
	left:50%;
}
.nav-menu .dropdown-menu:before {
    border-bottom: 12px solid #4D8C47;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: '';
    position: absolute;
    left: 50%;
    top: -12px;
    margin-left: -12px;
}
.nav-menu .dropdown-menu li a span{text-align:left}
.nav-menu .dropdown-menu li a{padding-left:0; padding-right:0;font-size:15px;}
.nav-menu .dropdown-toggle .dropdown-menu li {
    display: block;
    width: 100%;
    padding: 0;
    float: none;
    margin: 0;
    height: auto;
}
.nav-menu .dropdown-toggle .dropdown-menu li a {
    background: transparent none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: 600;
    height: auto;
    padding: 10px;
    text-align: left;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.footer-left .column aside ul li ul.dropdown-menu{
    position: relative;
    color:#fff;
    display:block;
    float:none;
    padding:0;
    margin:0;
    background:none;
    border:none;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.footer-left .column aside ul li ul.dropdown-menu > li > a{
    white-space:normal;
    color:#4D8C47;
    padding:0;
}

.footer-left .column aside ul li ul.dropdown-menu > li > a:hover{
    background:none;
    color:#ccc;
    text-decoration:underline;
}

.dropdown-toggle .dropdown-menu li:first-child a {
    padding-left: 10px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {}.nav-menu .dropdown-toggle .dropdown-menu li a:hover {
    background: #4D8C47;
    color: #fff;
}


.nav-menu .dropdown-toggle .dropdown-menu li.dropdown-toggle{
    position: relative;
}

.nav-menu .dropdown-menu .dropdown-menu{
    border-left: 3px solid #4D8C47;
    border-top: 0 none;
    top: -10px;
    left: 100%;
    margin-left: -5px !important;
    margin-top: 12px !important;
}

.nav-menu .dropdown-menu .dropdown-menu:before{
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(-90deg);
    left: -9px;
    top: 10px;
}


/* Dropdown Menu For Mobile */

.dr-mobile {
    position: relative;
    width: 100%;
    box-shadow: none;
    border-top: none;
}
.dr-mobile li {
    width: 100%;
}
.dr-mobile li:first-child a {
    padding-left: 20px !important;
}
.dr-mobile li a {
    padding-left: 20px !important;
}
.dr-mobile li:last-child a {
    border-bottom: none !important;
}
/* Rev Slider Section */

.revslide .rev-text {
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
}
.revslide .rev-text-b {
    font-weight: 300;
    margin: 0;
}
/* Slide 1 */

.revslide .rev-title-a {
    font-size: 40px;
    color: #FFFFFF;
    margin: 5px 0;
}
.revslide .rev-title-b {
    font-size: 20px;
    color: #202E37;
}
.revslide .rev-title-c {
    color: #FFFFFF;
    font-size: 22px;
    background: rgba(0, 0, 0, .3);
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .4);
}
.revslide .rev-title-c .fa {
    font-size: 40px;
    vertical-align: middle;
    margin-right: 15px;
}
/* Slide 2 */

.revslide .rev-title-d {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: #FFFFFF;
    font-size: 35px;
    padding: 8px 15px;
    text-align: center;
    position: relative;
}
.revslide .rev-title-d:after {
    /*content: "";	position: absolute;	top: -16px;	border-right: 8px solid rgba(0,0,0,0);	border-left: 8px solid rgba(0,0,0,0);	border-top: 8px solid rgba(0,0,0,0);	border-bottom: 8px solid rgba(0,0,0,.3);	left: 7%;*/
}
.revslide .rev-title-e {
    /*background: rgba(255, 255, 255, 0.6);*/
    
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: #202E37;
    font-size: 25px;
    font-weight: 300;
    padding: 10px;
    position: relative;
    text-align: center;
}
.revslide .rev-title-e:after {
    content: "";
    position: absolute;
    top: -16px;
    border-right: 8px solid rgba(255, 255, 255, 0);
    border-left: 8px solid rgba(255, 255, 255, 0);
    border-top: 8px solid rgba(255, 255, 255, 0);
    border-bottom: 8px solid rgba(255, 255, 255, .6);
    left: 7%;
}
a.white-button {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    border: 1px solid white;
    background: #fff;
    color: #F26341;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
a.white-button:hover {
    background: none;
    color: #fff !important;
}
a.red-button {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    border: 1px solid #F26341;
    background: #F26341;
    color: #fff !important;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
a.red-button:hover {
    background: none;
    color: #F26341 !important;
}
/* Slide 3 */

.revslide .rev-title-f {
    font-size: 50px;
    color: #2D3E48;
    padding: 0;
}
.revslide .p5 {
    font-size: 25px;
    color: #2D3E48;
    padding: 0;
}
/* Important Links */

/*#intro_section {
    background: url(../images/image2.jpg) left top no-repeat;
    background-size: cover;
    position: relative;
}*/
.intro_section {
    color: #4D8C47;
    padding: 0px 0px;
    display: table;
    width: 100%;
}
.intro_section .col-img {
    display: table-cell;
    width: 50%;
}
.intro_section .col-img img {
    width: 100%;
}
.intro_section .col-content {
    display: table-cell;
    width: 50%;
    padding: 40px 20px;
    vertical-align: top;
    background: rgba(255, 255, 255, 0.85);
}
.intro_section .col-content h4 {
    margin: 0;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.heading {
    clear: both;
    overflow: hidden;
	margin-bottom:15px;
}
.intro_section .col-content .iconcustom-img {
    width: 64px;
    height: 64px;
    border-bottom: 2px solid #4D8C47;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    vertical-align: middle;
	float:left
}
.intro_section h1 {
    font-size: 27px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 300
}
.intro_section h2 {
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
    padding-top: 0;
	font-family: 'playfair_displayitalic';
}
.intro_section a {
    display: inline-block;
    margin: 20px 7px 15px !important;
    padding: 0px 7px;
    border: 1px solid white;
    background: #4D8C47;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    float: right;
	width:26px;
	height:23px;
}
.intro_section a:before {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #4D8C47;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -5px;
    top: -5px;
    position: absolute;
}
.intro_section a.purchase {
    background: #fff;
    color: #3c3c3c;
}
.intro_section a.purchase:hover {
    background: none;
    color: #fff;
}
.intro_section a.more {
    color: #fff;
}
.intro_section a.more:hover {
    background: #fff;
    color: #3c3c3c;
}
/* Important Links */

#important_links {
    background: #F5F5F5;
    border-bottom: 1px dashed #CCCCCC;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#important_links .carousel-inner {}.important_links {
    padding: 60px 0px
}
.welcome-banner-text {
    font-size: 15px;
    text-align: center;
    color: #67747A;
}
.welcome-banner-text p {
    font-weight: 300;
}
.main_title_a {
    color: #f26341;
    margin: 20px 0 18px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.txt-center {
    color: #4D8C47;
    display: block;
    font-size: 17px;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
}
.main_title_a span {
    color: #F26341;
}
.welcome-banner-text a.more_a {
    /* Background Styles */
    
    background: rgb(241, 110, 82);
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    
    background: -moz-linear-gradient(top, rgb(241, 110, 82) 0%, rgb(232, 101, 73) 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(241, 110, 82)), color-stop(100%, rgb(232, 101, 73)));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, rgb(241, 110, 82) 0%, rgb(232, 101, 73) 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, rgb(241, 110, 82) 0%, rgb(232, 101, 73) 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, rgb(241, 110, 82) 0%, rgb(232, 101, 73) 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, rgb(241, 110, 82) 0%, rgb(232, 101, 73) 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#F16E52', endColorstr='#F16E52', GradientType=0);
    /* IE6-8 */
    
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 1px solid #C75032;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
    padding: 10px 20px;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.welcome-banner-text a.more_a:hover {
    background: #fff;
    color: #F26341;
    border: 1px solid #F26341;
}
.important_links_slide {
    width: 100%;
    margin: 0px auto;
    padding: 0 90px;
}
/* Controls */

.important_links .carousel .s-controls {
    background: #FFFFFF;
    border: 1px solid #29A9FF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    width: 40px;
    height: 40px;
    opacity: 1;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.important_links .carousel .s-controls:hover {
    background: #F26341;
    border: 1px solid #F26341;
    color: #fff;
}
.important_links .carousel a.right {
    color: #29A9FF;
    text-shadow: none;
    right: 0px;
}
.important_links .carousel a.right .fa,
.important_links .carousel a.left .fa {
    font-size: 25px;
    line-height: 38px;
}
.important_links .carousel a.left {
    color: #29A9FF;
    text-shadow: none;
    left: 0px;
}
.bottom-bg:hover .s-controls {
    opacity: 1;
}
.important_links .carousel a.left:hover {
    background-position: left bottom;
}
.important_links .carousel a.right:hover {
    background-position: right bottom;
}
/* About Section */

#about {
    background: #fff;
}
.about-contents {
    margin: 20px auto 0 auto;
}
/* About Control Buttons*/

.about-contents .owl-buttons {
    width: 107%;
    left: 0;
    top: 45%;
    display: none;
}
/* About items*/

.about {
    display: block;
    float: left;
    margin: 0 20px;
}
.owl-carousel .owl-item {
    padding: 0 2px 15px;
}
.more_b {
    background: #F7F8FA;
    border: 1px solid #29A9FF;
    color: #29A9FF;
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.box {
    position: relative;
    z-index: 10;
}
.about a.about-logo {
    display: block;
    width: 150px;
    height: 150px;
    border: 10px solid #F5F5F5;
    border-radius: 500px;
    margin: 0px auto 15px auto;
    padding: 42px 0;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #2D728B;
}
.box a.about-logo:after {
    border: 1px solid #2D728B;
    content: '';
    width: 127px;
    height: 127px;
    left: 1px !important;
    top: 1px !important;
    border-radius: 500px;
    position: absolute;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
}
.about a.about-logo i {
    font-size: 45px;
    color: #fff;
}
.about h3 {
    margin: 5px auto 15px;
    padding: 0;
    text-transform: uppercase;
    color: #202E37;
    font-weight: 500;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.about p {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 15px;
}
/* Service Hovers*/

.box:hover a.about-logo {
    background: #2D3E48;
}
.box:hover a.about-logo i {
    color: white;
}
.box:hover a.about-logo:after {
    left: -1px;
    top: -1px;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}
.box:hover h3 {
    color: #F26341;
}
.box:hover a.more_b {
    color: #fff;
    background: #F26341;
    border-color: #F26341;
}
/* About Extended */

.about-extended {
    background: #fafafa;
    margin: 30px auto;
    position: relative;
}
.about-extended:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20%;
    border-top: 50px solid #fafafa;
    border-top-color: #fafafa;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.company-facts {
    margin: 70px auto 20px;
}
.company-facts .facts {
    text-align: center;
}
.company-facts h1 {
    font-size: 55px;
    color: #5f5f61;
    font-weight: 400;
    margin: 0 auto;
}
.company-facts p {
    font-size: 20px;
    text-transform: uppercase;
    color: #626262;
}
.detail-section .small-title{
	padding-top:0;
	margin-top:0;
	/*margin-bottom:35px;*/
	margin-bottom:0;
	text-transform:inherit
}
.detail-section .sub-title{margin-bottom:10px;}
.detail-section{background:#fff; padding-bottom:45px;}

@media (min-width: 767px){
	.detail-section .vc_col-sm-8 {
		width: 75%;
	}
	.detail-section .vc_col-sm-4 {
		width: 25%;
	}
}

/* Tabs */

.tabs {
    width: 57%;
    float: left;
    padding-left: 15px;
}
/* Tabs Navigations */

.nav-tabs {
    border: none;
}
.nav-tabs li a {
    font-size: 16px;
    color: #202E37;
    padding: 7px 14px;
    text-transform: uppercase;
    margin: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /*background: #F7F8FA;	border: 1px solid #29A9FF;*/
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.nav-tabs li.active a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover {
    background: #F26341 !important;
    color: #fff !important;
    border-color: #F26341 !important;
}
/* Tabs panes */

.tab-pane {
    background: #fff;
    border: 1px solid #CCCBC9;
    -moz-box-shadow: 0 0 1px 1px #fff inset, inset 0 0 20px 3px rgba(230, 226, 220, .6);
    -webkit-box-shadow: 0 0 1px 1px #fff inset, inset 0 0 20px 3px rgba(230, 226, 220, .6);
    box-shadow: 0 0 1px 1px #fff inset, inset 0 0 20px 3px rgba(230, 226, 220, .6);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #67747A;
    font-size: 15px;
    font-weight: 300;
    padding: 20px 0px;
}
.tab-pane .tab-image {
    padding: 0 20px;
    margin-bottom: 20px;
}
.tab-pane .tab-image img {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.tab-pane .tab-description {
    padding: 0 20px;
    text-align: justify;
}
.tab-pane .only {
    width: 100%;
}
/* Progress */

.skills-description {
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #2D3E48;
}
.progress-bars {
    float: right;
    width: 40%;
    height: auto;
    padding-right: 15px;
}
.progress-bar {
    padding: 6px 8px;
    text-align: left;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    width: 0;
}
.progress-content {
    background: #fff;
    border: 1px solid #CCCBC9;
    -moz-box-shadow: 0 0 1px 1px #fff inset, inset 0 0 20px 3px rgba(230, 226, 220, .6);
    -webkit-box-shadow: 0 0 1px 1px #fff inset, inset 0 0 20px 3px rgba(230, 226, 220, .6);
    box-shadow: 0 0 1px 1px #fff inset, inset 0 0 20px 3px rgba(230, 226, 220, .6);
    margin: 6px 0;
    padding: 18px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.progress {
    background: #DDDDDD;
    box-shadow: 0 0 0;
    height: 20px;
    margin-bottom: 27px;
}
.progress-bar-danger {
    background-color: #2D728B;
}
/* Progress Texts */

.progress-texts span {
    color: #2D3E48;
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
}
.progress-texts .progress-name {
    float: left;
    text-transform: uppercase;
}
.progress-texts .progress-value {
    float: right;
}
/* History */

#history {
    background-attachment: fixed;
    background-image: url("../images/bg6.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Timeline */

ul.history-timeline {
    margin: 40px auto 0;
    width: 100%;
    background: url(../images/timeline-bg.jpg) center center repeat-y;
    height: auto;
    position: relative;
    padding: 0 0 80px;
}
#history .content {
    padding-bottom: 0;
}
.history-timeline .timeline-item span.date .fa {
    margin-right: 6px;
}
.history-timeline .year {
    background: #FFFFFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    clear: both;
    color: #3C3D3D;
    font-size: 20px;
    font-weight: 300;
    height: auto;
    margin: 31px auto;
    padding: 8px 0;
    text-align: center;
    width: 75px;
    left: -35px;
    position: relative;
    top: -5px;
}
.history-timeline .year:nth-of-type(2n) {
    right: -36px;
    left: auto;
}
.timeline-image {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 7px #111;
}
.timeline-image a img {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}
.timeline-image a .image-overlay {
    background: rgba(237, 51, 22, .8);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.timeline-image a .image-zoom {
    color: #FFFFFF;
    font-size: 25px;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 2;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(5);
    -moz-transform: translateY(-50%) translateX(-50%) scale(5);
    -ms-transform: translateY(-50%) translateX(-50%) scale(5);
    transform: translateY(-50%) translateX(-50%) scale(5);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.history-timeline .timeline-item {
    float: left;
    padding: 20px;
    width: 47.5%;
    background: rgba(0, 0, 0, .6);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin: 10px 0;
    position: relative;
    z-index: 550;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.history-timeline .year + .timeline-item {
    margin-top: -20px;
}
.history-timeline .timeline-item h4 {
    color: #999999;
    font-size: 19px;
    font-weight: 300;
    margin: 5px 0px 10px 0px;
    text-transform: uppercase;
    border-bottom: 1px dashed #555;
    padding-bottom: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.history-timeline .timeline-item div.article {
    font-size: 14px;
    color: #767676;
    margin: 8px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.history-timeline .timeline-item span.date {
    font-size: 14px;
    text-transform: uppercase;
    color: #a5a5a5;
    line-height: 12px;
}
.history-timeline .timeline-item:after {
    content: '';
    position: absolute;
    right: -6.8%;
    display: block;
    width: 18px;
    height: 18px;
    background: #111;
    border: 2px solid #F26341;
    border-radius: 100px;
    top: 18px;
    z-index: 20;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.history-timeline .timeline-item:nth-of-type(2n):before {
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0.6);
    content: "";
    right: 100%;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.history-timeline .timeline-item:before {
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-left: 10px solid rgba(0, 0, 0, 0.6);
    content: "";
    right: -20px;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.history-timeline .timeline-item:nth-of-type(2n) {
    float: right;
    clear: right;
}
.history-timeline .timeline-item:nth-of-type(2n):after {
    left: -6.8%;
}
a.load-more {
    background: #2D728B;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.history-timeline .timeline-item a.read-more {
    color: #F26341;
    display: block;
    float: right;
    text-align: right;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
/* timeline Rollover */

.history-timeline .timeline-item:hover {
    background: rgba(0, 0, 0, .8);
}
.history-timeline .timeline-item:hover h4 {
    color: #fff;
    border-color: #ddd;
}
.history-timeline .timeline-item:hover div.article {
    color: #ddd;
}
.history-timeline .timeline-item:hover:after {
    background: #F26341;
    border: 2px solid #fff;
}
.history-timeline .timeline-item:nth-of-type(2n):hover:before {
    border-right-color: rgba(0, 0, 0, .8);
    border-left-color: rgba(0, 0, 0, 0);
}
.history-timeline .timeline-item:hover:before {
    border-left-color: rgba(0, 0, 0, .8);
    border-right-color: rgba(0, 0, 0, 0);
}
.timeline-image:hover a .image-overlay,
.timeline-image a:hover .image-overlay {
    opacity: 1;
    filter: alpha(opacity=1);
}
.timeline-image:hover a .image-zoom,
.timeline-image a:hover .image-zoom {
    opacity: 1;
    filter: alpha(opacity=1);
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
}
.timeline-image:hover a img {
    -webkit-transform: scale(1.5) rotate(15deg);
    -moz-transform: scale(1.5) rotate(15deg);
    -ms-transform: scale(1.5) rotate(15deg);
    transform: scale(1.5) rotate(15deg);
}
a.load-more:hover {
    background: #2D3E48;
}
.history-timeline .timeline-item a.read-more:hover {
    color: #777;
}
/* Our Clients */

#clients {}#our-clients {
    background-image: url("../images/bg7.html");
    background-position: center 0;
    background-size: cover;
    border-bottom: 4px solid #F26341;
    background-color: #2D3E48;
}
#our-clients .content {
    padding: 0;
}
.our-clients-carousel {}
/* Our Clients carousel */

.our-clients-carousel .owl-wrapper-outer {
    border-right: 1px dashed #67747A;
    border-left: 1px dashed #67747A;
}
.our-clients-carousel .owl-item {
    padding: 30px 0 !important;
    background: rgba(0, 0, 0, .2);
}
.our-clients-carousel .owl-wrapper-outer .owl-wrapper .owl-item:nth-of-type(2n) {
    background: rgba(0, 0, 0, .1);
    border-left: 1px dashed #67747A;
    border-right: 1px dashed #67747A;
}
/* Our Clients Say */

.clients-say-flex-slider {
    position: relative;
}
#client-say {
    background-attachment: fixed;
    background-image: url("../images/bg2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.subtitle_b {
    color: #fff;
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 0.04em;
    margin-top: 5px;
    text-transform: uppercase;
}
.pattern1 {
    background-image: url("../images/pattern.png");
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
.section-title-white {
    color: #fff;
    margin-bottom: 30px;
}
.section-title-white h1 {
f
    color: #FFFFFF;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
.section-title-white p {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.04em;
    margin: 15px;
    padding: 15px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.section-title-white p:after {
    content: "";
    position: absolute;
    top: -16px;
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-top: 8px solid rgba(0, 0, 0, 0);
    border-bottom: 8px solid rgba(0, 0, 0, .5);
    left: 49%;
}
/* Controls For clients Say carousel */

.client-say-carousel .carousel .s-controls {
    background: rgba(0, 0, 0, .6);
    color: #FFFFFF;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    height: 40px;
    opacity: 1;
    font-size: 24px;
    line-height: 36px;
    top: 60px;
    width: 40px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.client-say-carousel .carousel .s-controls:hover {
    background: #F26341;
    color: #fff;
}
.client-say-carousel .carousel a.right {
    bottom: -48px;
    left: 50px;
    top: auto;
}
.client-say-carousel .carousel a.left {
    bottom: -48px;
    left: 0;
    top: auto;
}
/* clients Say Items */

.clients-say-item img {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    width: 15%;
    margin-left: 2%;
    float: right;
    background: rgba(0, 0, 0, .3);
    padding: 4px;
    border: 4px solid rgba(255, 255, 255, .3);
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.client-comment-block {
    width: 83%;
    position: relative;
    float: left;
    padding-top: 4px;
}
.clients-say-item .client-comment {
    background: rgba(255, 255, 255, 0.4);
    float: left;
    width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
    font-weight: 300;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #202E37;
}
.clients-say-item .client-comment:after {
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-left: 10px solid rgba(255, 255, 255, 0.4);
    border-right: 10px solid rgba(0, 0, 0, 0);
    right: -20px;
    position: absolute;
    top: 50%;
    content: "";
}
.clients-say-item .client-name-and-jop {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    float: right;
    font-size: 18px;
    margin: 0;
    padding: 0 0 0 10px;
}
.clients-say-item .client-name {
    display: inline-block;
    padding: 7px 10px;
}
.clients-say-item .client-jop {
    display: inline-block;
    padding: 7px 10px;
}
.client-name-and-jop .fa {
    color: #F26341;
}
/* Our Team */

#team {
    background: #F5F5F5;
}
.team-items {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.owl-wrapper-outer {
    text-align: center;
}
/* Our Team item */

.team-items .owl-wrapper-outer .owl-wrapper .owl-item .item {
    border: 1px solid #CCCBC9;
    background: #fff;
    height: auto;
    font-weight: 300;
    margin: 60px 10px 10px;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-box-shadow: 0 0 1px 1px #fff inset, inset 0 0 10px 3px rgba(230, 226, 220, .6);
    -webkit-box-shadow: 0 0 1px 1px #fff inset, inset 0 0 10px 3px rgba(230, 226, 220, .6);
    box-shadow: 0 0 1px 1px #fff inset, inset 0 0 10px 3px rgba(230, 226, 220, .6);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.team-items .owl-wrapper-outer .owl-wrapper .owl-item .item img {
    background: #FFFFFF;
    border: 5px solid #CCCBC9;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.team-items .owl-wrapper-outer .owl-wrapper .owl-item .item h3 {
    color: #202E37;
    text-transform: uppercase;
    margin: 0px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.team-items .owl-wrapper-outer .owl-wrapper .owl-item .item h4 {
    font-size: 18px;
    font-weight: 500;
    color: #777;
    line-height: 15px;
    margin: 10px auto 15px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.team-items .owl-wrapper-outer .owl-wrapper .owl-item .item p {
    font-size: 15px;
    color: #777;
}
/* Our Team Socials */

.socials {
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}
.socials a {
    background: #FFFFFF;
    border: 1px solid #CCCBC9;
    color: #202E37;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 35px;
    margin-left: 5px;
    text-align: center;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.socials a.facebook {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.socials a.twitter {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.socials a.linkedin {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}
.socials a.google-plus {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
}
/* Our Team Control Buttons */

.team-items .owl-buttons {
    position: absolute;
    top: 0;
    width: 100%;
}
.team-items .owl-buttons > div {
    background: #FFFFFF;
    border: 1px solid #29A9FF;
    color: #29A9FF;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    line-height: 37px;
    text-align: center;
    width: 40px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.team-items .owl-buttons .owl-next:before {
    content: "\f105";
    font-family: FontAwesome;
}
.team-items .owl-buttons .owl-prev:before {
    content: "\f104";
    font-family: FontAwesome;
}
.team-items .owl-buttons .owl-prev {
    position: absolute;
    left: 10px;
}
.team-items .owl-buttons .owl-next {
    position: absolute;
    left: 60px;
}
/* Our Team Rollovers */

.team-items .owl-buttons div:hover {
    border: 1px solid #F26341;
    background: #F26341;
    color: #fff;
}
.team-items .owl-wrapper-outer .owl-wrapper .owl-item .item:hover {
    border: 1px solid #29A9FF;
    -moz-box-shadow: 0 0 1px 1px #fff inset, inset 0 0 10px 5px rgba(210, 237, 255, 1);
    -webkit-box-shadow: 0 0 1px 1px #fff inset, inset 0 0 10px 5px rgba(210, 237, 255, 1);
    box-shadow: 0 0 1px 1px #fff inset, inset 0 0 10px 5px rgba(210, 237, 255, 1);
}
.team-items .owl-wrapper-outer .owl-wrapper .owl-item .item .socials a:hover {
    background-color: #fff;
    border-color: #F26341 !important;
    color: #F26341 !important;
}
.team-items .owl-wrapper-outer .owl-wrapper .owl-item .item:hover img {
    /*border-color: #29A9FF;*/
    
    background: #fff;
}
.team-items .owl-wrapper-outer .owl-wrapper .owl-item .item:hover h3 {
    color: #F26341;
}
.team-items .owl-wrapper-outer .owl-wrapper .owl-item .item:hover h4 {
    color: #29A9FF;
}
.team-items .owl-wrapper-outer .owl-wrapper .owl-item .item:hover .socials a {
    background: #fff;
    border-color: #29A9FF;
    color: #29A9FF;
}
/* Numbers */

#numbers {
    background-image: url("../images/bg1.jpg");
    padding: 0;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    background-attachment: fixed;
}
#balon {
    background-image: url("../images/balloon.html");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    margin: 0 auto;
    padding: 0 0 30px;
    position: relative;
}
.parallax-overlay {
    background-color: rgba(0, 0, 0, 0.58);
    position: relative;
    color: #FFFFFF;
}
.overlay1 {
    position: relative;
    color: #FFFFFF;
    height: 100%;
    width: 100%
}
.overlay2 {
    height: 100%;
    position: relative;
    width: 100%
}
.balon:before,
.parallax-overlay:before,
.overlay1:before,
.overlay2:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    content: "";
    height: 5px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
}
.balon:after,
.parallax-overlay:after,
.overlay1:after,
.overlay2:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    content: "";
    height: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
.my_title_b {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #202E37;
}
.section-title {
    margin-bottom: 50px;
    text-align: center;
}
.section-title .seperator {
    padding: 16px 0;
}
.seperator {
    height: 4px;
    line-height: 0;
    padding: 8px 0;
    text-align: center;
    width: 100%;
    margin: 10px 0 25px 0;
}
.seperator div {
    display: inline-block;
    height: 2px;
    opacity: 1;
    width: 100px;
}
.seperator .black_line {
    background: #000;
}
.seperator .white_line {
    background: #fff;
}
.seperator div.gray_line {
    background: #202E37;
	width:64px
}
.subtitle {
    color: #202E37;
    font-weight: 300;
    letter-spacing: 0.04em;
    margin-top: 5px;
    font-size: 22px;
}
.graybutton2:hover{color:#fff;}
/* Numbers */

.numbers-blocks {
    margin-top: 100px;
}
.numbers-blocks .fa {
    background: #FFFFFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 4px 4px rgba(0, 0, 0, .1);
    top: -31px;
    color: #2D728B;
    display: block;
    font-size: 40px;
    height: 60px;
    left: 50%;
    line-height: 62px;
    margin: 0 auto;
    padding-bottom: 10px;
    position: absolute;
    width: 80px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.numbers-blocks .counter {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: block;
    padding: 25px 0;
    text-align: center;
}
.numbers-blocks .counter .value {
    display: block;
    font-size: 45px;
    color: #202E37;
    margin-top: 18px;
}
.numbers-blocks .counter p {
    text-transform: uppercase;
    color: #202E37;
    font-size: 18px;
}
/* Our Works */

#portfolio {
    font-weight: 300;
    background: #F5F5F5;
}
.works {
    position: relative;
    height: auto;
}
.small-title {
    font-size: 27px;
    color: #4D8C47;
    font-weight: 300;
	letter-spacing:0.1em;
	padding-top:30px;
	margin-bottom:7px
}
.sub-title {
    display: block;
    font-size: 17px;
    font-style: italic;
    color: #4D8C47;
    text-transform: capitalize;
    padding-top: 5px;
    font-family: 'playfair_displayitalic';
	margin-bottom:20px;
}
.image-icon {
    border-bottom: 2px solid #4D8C47;
    display: block;
    height: 64px;
    margin: 15px auto;
    text-align: center;
    vertical-align: middle;
    width: 64px;
}
.spacer {
    padding: 40px 0
}
/* Full Width Portfolio Version */

.fiven {
    width: 19.99%;
    float: left;
}
/* Filter Menu */

.filter-menu {
    position: relative;
    z-index: 99;
}
.filters {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 40px auto 35px;
}
.inline {
    font-size: 0px;
}
.filters li {
    text-align: center;
    display: inline-block;
    font-size: 15px;
}
.filters li a {
    border-top: 1px solid #CCCBC9;
    border-bottom: 1px solid #CCCBC9;
    border-right: 1px solid #CCCBC9;
    background: #fff;
    padding: 13px 20px;
    color: #7a7a7a;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.filters li a.selected {
    color: white;
    background: #F26341;
    cursor: default;
    border-color: #F26341 #C75032 #F26341 #F26341;
}
.filters li:first-child a.selected {
    border-color: #F26341 #C75032 #F26341 #F26341;
}
.filters li:last-child a.selected {
    border-color: #F26341 #F26341 #F26341 #C75032;
}
.filters li:last-child a {
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -ms-border-radius: 0px 5px 5px 0px;
    -o-border-radius: 0px 5px 5px 0px;
    padding-right: 25px;
    border-left: none;
}
.filters li:first-child a {
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -ms-border-radius: 5px 0px 0px 5px;
    -o-border-radius: 5px 0px 0px 5px;
    padding-left: 25px;
    border-left: 1px solid #CCCBC9;
}
.filters li:hover a {
    background: #F26341;
    color: white;
    border-color: #F26341;
}
/* Portfolio items */

.items {
    position: relative;
    height: auto;
}
.work {
    margin: 9px 0;
    padding: 0 0px;
    height: auto;
    color: #aaaaaa;
    cursor: pointer;
    overflow: hidden;
}
.work-inner {}.works .owl-carousel .owl-item {
    padding: 0
}
.work-img {
    background: #000;
    position: relative;
    width: 100%;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.work-img:after {
    content: "";
    border: 0px solid rgba(0, 0, 0, .3);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.work-inner:hover .work-img:after {
    opacity: 1;
    filter: alpha(opacity=1);
}
.work-img img {
    width: 100%;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    height: 324px;
}
.work-desc {
    bottom: 0 !important;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.work-img:hover .work-desc {
    height: 30%;
}
.work-desc h4 {
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px 0px;
    color: #fff;
}
.work-img .button {
    width: 42px;
    height: 42px;
    display: block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: white;
    position: absolute;
    text-align: center;
    line-height: 42px;
    font-size: 15px;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.work-img .button:hover {
    background: #F26341;
    color: white;
}
.work-img .zoom {
    left: 40%;
    top: 10%;
    -moz-transform: translateY(-40%) translateX(-40%);
    -webkit-transform: translateY(-40%) translateX(-40%);
    -ms-transform: translateY(-40%) translateX(-40%);
    transform: translateY(-40%) translateX(-40%);
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.work-img .detail {
    right: 40%;
    top: 10%;
    -moz-transform: translateY(-40%) translateX(40%);
    -webkit-transform: translateY(-40%) translateX(40%);
    -ms-transform: translateY(-40%) translateX(40%);
    transform: translateY(-40%) translateX(40%);
    opacity: 0;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
.work:hover .work-img img {
    opacity: 0.2;
}
.work:hover .work-img .zoom {
    left: 40%;
    top: 40%;
    -moz-transform: translateY(-40%) translateX(-40%);
    -webkit-transform: translateY(-40%) translateX(-40%);
    -ms-transform: translateY(-40%) translateX(-40%);
    transform: translateY(-40%) translateX(-40%);
    opacity: 1;
}
.work:hover .work-img .detail {
    right: 40%;
    top: 40%;
    -moz-transform: translateY(-40%) translateX(40%);
    -webkit-transform: translateY(-40%) translateX(40%);
    -ms-transform: translateY(-40%) translateX(40%);
    transform: translateY(-40%) translateX(40%);
    opacity: 1;
}
.owl-buttons {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 30px;
    right: 30px;
}
#our-portfolio-carousel .owl-prev {
    background: url(../images/left-arrow.png) no-repeat;
    width: 35px;
    height: 35px;
    float: left
}
#our-portfolio-carousel .owl-next {
    background: url(../images/right-arrow.png) no-repeat;
    width: 35px;
    height: 35px;
    float: right
}
/* isotope styles */

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* features */

#features {
    background-attachment: fixed;
    background-image: url("../images/banner4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#features .content {
    padding-bottom: 0px;
}
#features h1{
	font-family: "playfair_displayitalic";
	font-size:40px;
	margin-bottom:24px;
a
	text-transform:none
}
#features .graybutton2{
	box-shadow:inset 1px 1px 2px rgba(255,255,255,0.5);
	border-bottom:2px solid rgba(26,37,47,0.5);
	border-right:2px solid rgba(26,37,47,0.5);
	letter-spacing:0.1em
}
/* Services */

#services {
    background: #F5F5F5;
}
.sportings {
    /*background-image: url("../images/banner5.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;*/
    margin: 0;
    position: relative;
    padding: 120px 0;
	margin-top:35px;
} 
.sportings:before {
    background: rgba(0, 0, 0, 0.6);
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.push-top {
    margin-top: 50px;
}
.services-box {
    margin-bottom: 20px
}
.services-box .image-section {
    display: table-cell;
    width: 50%;
    background: #fff
}
.services-box .image-section img {
    width: 100%
}
.services-box .content-section {
    display: table-cell;
    width: 50%;
    background: #fff;
    padding: 20px;
    vertical-align: top
}
@media (min-width: 767px){
	.services-box .content-section{
		position:relative
	}
	.services-box .content-section:before{
		border-bottom: 30px solid transparent;
		border-right: 15px solid #fff;
		border-top: 30px solid transparent;
		content:'';
		position:absolute;
		right:100%;
		top:50%;
		margin-top:-30px;
		z-index:99
	}
	.services-box .content-section:nth-child(odd):before{border-left: 15px solid #fff; border-right: 0px; left:100%}

}
.fb-page.fb_iframe_widget > span iframe {
    position: relative;
    width: 100% !important;
}
.fb-page.fb_iframe_widget > span {
    width: 100% !important;
}
.services-box > .content-section h3 {
    font-size: 15px;
    font-family: 'playfair_displayitalic';
    margin-top: 0;
    padding-top: 0;
	color:#4D8C47
}
.services-box > .content-section h4 {
    color: #4D8C47;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    margin: 15px 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.services-box .content-section a{
	 color: #4D8C47;
	 font-size:15px;
	 font-family: 'playfair_displayitalic';
	 border-bottom:1px dotted
}
.services-box .services-box-icon {
    background: #fff;
    border: 1px solid #29A9FF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #29A9FF;
    display: inline-block;
    float: left;
    height: 58px;
    left: 0;
    line-height: 60px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    top: 5px;
    width: 60px;
    /* if you want inset shadow effect */
    /*-moz-box-shadow:0 0 1px 1px #fff inset,inset 0 0 10px 5px rgba(210,237,255,1);	-webkit-box-shadow:0 0 1px 1px #fff inset,inset 0 0 10px 5px rgba(210,237,255,1);	box-shadow:0 0 1px 1px #fff inset,inset 0 0 10px 5px rgba(210,237,255,1);*/
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.services-box .services-box-icon:before {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    content: "";
    display: block;
    height: 50px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 52px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.services-box .services-box-icon i.fa {
    font-size: 20px;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.services-box .feature-box-info {
    padding-left: 0;
}
.feature-box-info p {
    color: #333333;
    font-weight: 400;
    font-size: 13px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
hr.tall {
    background: none;
    border: 0 none;
    height: 1px;
    margin: 60px 15px;
    border-bottom: 1px dashed #CCCCCC;
    border-top: none;
}
.services-box:hover h4 a {
    color: #F26341;
}
.services-box:hover .services-box-icon {
    border-color: #F26341;
    color: #F26341;
    /* if you want inset shadow effect when you hover on services-box */
    /*-moz-box-shadow:0 0 1px 1px #fff inset,inset 0 0 10px 5px rgba(242,208,199,1);	-webkit-box-shadow:0 0 1px 1px #fff inset,inset 0 0 10px 5px rgba(242,208,199,1);	box-shadow:0 0 1px 1px #fff inset,inset 0 0 10px 5px rgba(242,208,199,1);*/
}
.services-box:hover .services-box-icon:before {}.services-box:hover .feature-box-info p {
    color: #4E6C7D;
}
.graybutton {
    background: #4D8C47;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    padding: 0px;
    /*box-shadow:inset 1px 1px 2px rgba(255,255,255,0.5), -2px -2px 2px rgba(0,0,0,0.5);*/
    
    display: inline-block;
    text-align: center;
    margin-bottom: 10px!important;
}
.graybutton2 {
    background: #4D8C47;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    padding: 17px 30px;
    /*box-shadow:inset 1px 1px 2px rgba(255,255,255,0.5), -2px -2px 2px rgba(0,0,0,0.5);*/
    
    display: inline-block;
    text-align: center
}
.graybutton:hover {
    background: #4D8C47;
    color: #fff;
}
.entry-title {
    display: none;
}
/* video */

#video {
    height: 450px;
    margin: 0;
    position: relative;
}
/* Contact Us */

#contact {
    background: #F5F5F5;
}
#contact-form .form-control {
    background-color: #fff;
    border: 1px solid #CCCBC9;
    padding-top: 11px;
    box-shadow: none;
    color: #2D728B;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
#contact-form .form-control:focus {
    box-shadow: none;
    background-color: #fff;
    border-color: #29A9FF;
}
#contact-form .col-md-6:first-child {
    padding-right: 5px;
}
#contact-form .col-md-6:nth-child(2n) {
    padding-left: 5px;
}
#contact-form textarea {
    margin-bottom: 20px;
}
#contact-form input.form-control {
    height: 40px;
    margin-bottom: 10px;
    padding-top: 7px;
}
#contact-form .form-control:-moz-placeholder {
    color: #67747A;
    font-size: 14px;
    font-weight: 300;
}
#contact-form .form-control::-moz-placeholder {
    color: #67747A;
    font-size: 14px;
    font-weight: 300;
}
#contact-form .form-control:-ms-input-placeholder {
    color: #67747A;
    font-size: 14px;
    font-weight: 300;
}
#contact-form .form-control::-webkit-input-placeholder {
    color: #67747A;
    font-size: 14px;
    font-weight: 300;
}
#contact-form .form-control:focus:-moz-placeholder {
    opacity: 0;
}
#contact-form .form-control:focus::-moz-placeholder {
    opacity: 0;
}
#contact-form.form-control:focus:-ms-input-placeholder {
    opacity: 0;
}
#contact-form .form-control:focus::-webkit-input-placeholder {
    opacity: 0;
}
#contact-form .btn {
    float: right;
    display: block;
    margin-left: 10px;
    font-size: 16px;
    background: #2D728B;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px 20px;
    text-transform: uppercase;
    position: relative;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
#contact-form .btn:after {
    width: 0%;
    height: 0%;
    top: 0;
    right: 0;
    content: '';
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, .2);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#contact-form .btn:before {
    width: 0%;
    height: 0%;
    bottom: 0;
    right: 0;
    content: '';
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, .2);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#contact-form .btn:hover:after,
#contact-form .btn:hover:before,
#contact-form .btn:focus:after {
    width: 100%;
    height: 100%
}
#contact-form {
    margin-bottom: 20px;
}
#contact-form .alert {
    display: none;
    margin-top: 20px;
}
#contact-form label {
    color: #f44459;
    font-size: 10px;
}
address {
    margin-bottom: 30px;
}
address p {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 5px;
}
address p .fa {
    color: #2D728B;
    line-height: 35px;
    margin-right: 10px;
    text-align: center;
    min-width: 15px;
}
.fa-add1 {
    font-size: 24px;
}
.fa-add2 {
    font-size: 17px;
}
.fa-add3 {
    font-size: 15px;
}
address p i.fa-minus {
    color: #F26341;
    font-size: 12px;
}
.title1 {
    margin: 0 0 20px 0;
    padding: 0;
    color: #2D728B;
    text-transform: uppercase;
    font-size: 28px;
}
.contact-social {
    text-align: left;
    margin-bottom: 30px;
}
.contact-social a {
    border: 1px solid #29A9FF;
    background: #fff;
    color: #29A9FF;
    -moz-box-shadow: 0 0 1px 1px #fff inset, inset 0 0 7px 3px rgba(210, 237, 255, 1);
    -webkit-box-shadow: 0 0 1px 1px #fff inset, inset 0 0 7px 3px rgba(210, 237, 255, 1);
    box-shadow: 0 0 1px 1px #fff inset, inset 0 0 7px 3px rgba(210, 237, 255, 1);
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0 15px 0 0;
    text-align: center;
    width: 50px;
    font-size: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.contact-social a:hover {
    border-color: #F26341;
    color: #F26341;
    -moz-box-shadow: 0 0 1px 1px #fff inset, inset 0 0 10px 0px rgba(242, 208, 199, 1);
    -webkit-box-shadow: 0 0 1px 1px #fff inset, inset 0 0 10px 0px rgba(242, 208, 199, 1);
    box-shadow: 0 0 1px 1px #fff inset, inset 0 0 10px 0px rgba(242, 208, 199, 1);
}
/* Google Maps */

div.google-map {
    background: #E5E3DF;
    height: 400px;
    position: relative;
    width: 100%;
}
div.google-map:before {
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    content: "";
    height: 5px;
    position: absolute;
    width: 100%;
    z-index: 10;
}
div.google-map:after {
    background: rgba(0, 0, 0, 0.1);
    content: "";
    height: 5px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.graysection {
    background: #f1f3f2;
}

.portail{position:fixed; right:0; top:200px; z-index:993; background:#fff; width:77px; height:78px;transition:all ease-in-out 0.4s; -webkit-transition:all ease-in-out 0.4s; -ms-transition:all ease-in-out 0.4s}
.portail:after {
    border-bottom: 41px solid #fff;
    border-left: 30px solid transparent;
    border-right: 30px solid #fff;
    bottom: 0;
    content: "";
    left: -29px;
    position: absolute;
    z-index: 99;
}

.portail::before {
    border-left: 30px solid transparent;
    border-right: 30px solid #fff;
    border-top: 38px solid #fff;
    content: "";
    left: -30px;
    position: absolute;
    z-index: 99;
}
.portail > a {
    position: relative;
    z-index: 9999;
    text-align: center;
    display: block;
	font-size:14px;
	text-transform:uppercase;
	font-weight:700;
	background:url(../images/icon/portail.png) no-repeat center 8px;
	padding-top:57px;
	float:left
}
.portail:hover{
	width:120px;
}
.portail ul.portail-menu{
	background:#fff;
	padding:18px;
	padding-top:0;
	padding-bottom:0;
	width:160px;
	clear:both;
	position:relative;
	top:4px;
	margin-left:-29px;
	height:0;
	transition:height 0.8s; 
	-webkit-transition:height 0.8s; 
	-ms-transition:height 0.8s;
	overflow:hidden
}	
.portail:hover .portail-menu/*, .portail .portail-menu.open-list*/{
	height:176px
}
.portail ul li{padding-bottom:10px;}
.portail ul li:first-child{padding-top:18px}
.portail ul li:last-child{padding-bottom:18px}
.portail ul li a{font-size:15px; font-weight:300}
.portail ul li a:hover{text-decoration:underline}


.fb_iframe_widget {
    display: block !important;
    position: relative;
}

@media (min-width: 800px) {
    .graysection {
        position: relative;
        z-index: 99;
        margin-top: -210px;
    }
}
.graysection p {
    margin-bottom: 20px;
}
.graysection figure {
    margin-bottom: 40px
}
.pattern-blue {
    background: url(../images/pattern.jpg) repeat;
}
.sidebar {
    padding-left: 0;
    list-style-type: none
}
.sidebar li {
    position: relative;
    color: #fff;
    margin-bottom: 50px;
    padding-bottom: 12px;
}
.sidebar li:before {
    width: 64px;
    content: '';
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all .5s ease-in-out
}
.sidebar li:hover:before {
    width: 100%
}
.sidebar li span {
    width: 64px;
    float: left;
    text-align: center;
    margin-right: 22px;
}
.sidebar li a {
    color: #fff;
    font-family: 'playfair_displayitalic';
    font-size: 16px;
}
.sidebar li a h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0
}
.breadcrumb {
    background: none;
    margin-bottom: 0;
    padding-left: 0
}
.breadcrumb li {
    color: #fff;
}
.breadcrumb li a {
    color: #fff
}
#testimonial {
    /*margin-top: 45px*/
}
.testimonial {
    background-image: url("../images/college-francais-ecole-privee-montreal-035.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    margin: 0;
    position: relative;
    padding: 40px 0 30px 0;
}
.testimonial h1 {
    font-size: 27px;
	letter-spacing:0.1em;
	font-weight:300
}
.testimonial h4 {
    font-family: 'playfair_displayitalic';
    font-size: 17px;
}
.icon-thumb {
    width: 64px;
    padding-bottom: 10px;
    display: inline-block;
    margin: 10px;
    border-bottom: 2px solid
}
.client-name .client-image {
    width: 86px;
    height: 86px;
    border: 2px solid #fff;
    border-radius: 200px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.47);
    float: left;
    margin-right: 15px;
}
.client-name .client-image img {
    border-radius: 200px;
}
.client-detail {
    max-width: 170px;
    float: left;
    padding-top: 25px;
    text-align: left
}
#testimonial-carousel {
    max-width: 760px;
    margin: auto;
    text-align: left
}
#testimonial-carousel p {
    background: none;
    text-align: left;
    font-family: 'playfair_displayitalic';
    font-size: 17px;
    border-bottom: 1px solid #fff;
    border-radius: 0
}
#testimonial-carousel p:after {
    display: none
}
#testimonial-carousel .owl-pagination {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -80px;
}
#testimonial-carousel .owl-page {
    border: 1px solid #fff;
    border-radius: 60px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin-left: 8px;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    width: 10px;
}
#testimonial-carousel .owl-page.active {
    background: #fff
}
/* Footer */

footer .spacer{padding-top:10px}

footer {
    background: #f1f3f2;
}

.footer-left h2 {
    color: #4D8C47;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;
	padding-top:7px;
	letter-spacing:0em;
    text-align:center;
}
.footer-left .column {
    width:25%; 
    float: left;
    padding: 10px;
}
.footer-left .column span {
    width: 64px;
    height: 54px;
    border-bottom: 2px solid #4D8C47;
    display: block;
    text-align: center;
    margin: 10px auto;
    vertical-align: middle;
    padding: 10px 0
}
.footer-left .column span img {
    height: 31px
}
.footer-left ul li a:hover span{text-decoration:underline}
.footer-right {
    margin-top: 96px;
    border-left: 2px solid #4D8C47;
	padding-bottom:5px;
}
.footer-right ul {
    width: 100%;
    text-align: left;
    float: left
}
.footer-right ul li {
    margin-bottom: 11px
}
.footer-right ul li a{font-size:16px; font-weight:300}
.footer-right ul li a:hover{text-decoration:underline}

#footer {
    background: #333333;
}
.footer {
    padding: 45px 0 18px;
}
.align-left {
    text-align: left !important;
}
.footer a {
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.align-center {
    text-align: center;
}
.logo-bottom {
    display: table-cell;
    border-right: 1px solid #f1f2f1;
    padding-right: 12px;
}
.address {
    vertical-align: middle;
    display: table-cell;
    padding-left: 15px;
    font-size: 14px;
    color: #f1f3f2
}
.content-right-footer {
    color: #ffffff;
    font-size: 12px;
	padding-top:48px;
}
.content-right-footer a {
    background: #4D8C47;
    height: 34px;
    width: 34px;
    color: #fff;
    font-size: 23px;
    text-align: center;
    line-height: 34px;
	margin-left:5px;
	vertical-align:middle
}
.content-right-footer p{font-size:14px; font-weight:300;}
/* Go To Top */

#go-top {
    bottom: 40px;
    height: 40px;
    position: relative;
    width: 40px;
    z-index: 9999;
    margin: 0 auto;
}
#go-top a {
    background: rgba(0, 0, 0, 0.2);
    border: 1px dashed #5C717D;
    border-radius: 3px;
    color: #FFFFFF;
    display: block;
    height: 100%;
    line-height: 37px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#go-top a .fa {}#go-top a:hover {
    background: rgba(0, 0, 0, 0.4);
}
.footer-logo {
    border: 1px dashed #5C717D;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 40px;
    font-weight: 500;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
}
.footer-text {
    margin: 10px 0 0 0;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}
.copyright {
    text-transform: uppercase;
    margin: 35px 0 0 0;
}

#footer{
    display:block !important;
    }
.footer a:hover {
    color: white;
}
.footer a:hover i {
    color: white;
}
.nav2 span {
    height: 60px;
    line-height: 30px;
}
.nav2{padding-top:10px}
.nav2 .logo {
    left: 40%
}
.nav2 .logo a{margin-top:10px} 
.nav2 li:first-child {
    left: 0;
    position: absolute;
}
.nav2 li:nth-child(2) {
    left: 105px;
    position: absolute;
}
.nav2 ul li a span:before{display:none}
.nav2 ul li a span {
    border-top: medium none;    
    font-size: 16px;
    margin: 0 auto;
    padding: 5px 0 0 0;
    font-family: 'Lato' !important;
    font-style:  normal;
    font-weight: 400;
    height:auto;
    letter-spacing:0.11em;
    max-width:inherit;
    line-height: 23px;
}
.nav2 ul li a img {
    padding-bottom: 0 !important;
    width:60px !important;
    height:60px !important;
}
.banner {
    padding: 130px 0 80px;
    z-index: 2;
    position: relative;
    color: #fff;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner:before {
    content: '';
    background: rgba(128, 214, 140, 0.84);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1
}
.banner h2 {
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em
}
.banner h3 {
    margin-top: 0;
    margin-bottom: 45px;
    padding-top: 0;
    font-size: 31px;
    font-weight: 300;
    text-transform: uppercase
}
.contact-wrap h3 {
    margin-top: 15px;
    padding-top: 0;
    color: #4D8C47;
    font-family: 'playfair_displayitalic';
    font-size: 26px;
}
.contact-wrap h1 {
    color: #4D8C47;
    font-size: 36px;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.contact-wrap input[type="text"],
.contact-wrap input[type="email"],
.contact-wrap input[type="password"] {
    width: 100%;
    border: 1px solid #cacaca;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.111);
    height: 39px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 12px;
	text-transform:uppercase
}
.contact-wrap textarea {
    width: 100%;
    border: 1px solid #cacaca;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.111);
    height: 90px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 12px;
    resize: none;
	padding-top:10px;
	text-transform:uppercase
}
.contact-wrap input[type="submit"] {
    background: #4D8C47;
    width: 262px;
    height: 45px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 3px 0 #4D8C47;
    border: 0;
    float: right;
    line-height: 47px;
}
.button-link {
    background: #4D8C47;
    display: block;
    height: 45px;
    text-align: center;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 0;
    border-bottom: 1px solid #161f29;
    line-height: 47px;
    margin-top: 5px;
    -moz-box-shadow: inset 0 2px 2px -2px #ffffff, inset 0 -2px 2px -2px #161f29;
    -webkit-box-shadow: inset 0 2px 2px -2px #ffffff, inset 0 -2px 2px -2px #161f29;
    box-shadow: inset 0 2px 2px -2px #ffffff, inset 0 -2px 2px -2px #161f29;
}
#footer2 {
    background: #333333;
    padding-top: 22px;
    padding-bottom: 20px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
}
#footer2 h3 {
    font-size: 15px;
    letter-spacing: 0.21em;
    font-weight: 400;
	margin-bottom:2px;
}
#footer2 p {
    font-size: 12px
}
#footer2 address {
    font-size: 10px;
    margin-top: 25px;
    margin-bottom: 0;
	font-weight:400;
	letter-spacing:0.1em
}
#myModal .modal-content {
    border-radius: 0;
    border: 0;
    border-top: 19px solid #4D8C47;
    background: url(../images/pattern-popup.html) repeat;
}
#myModal .modal-content .modal-footer {
    padding: 0;
    margin-top: 0
}
#myModal .modal-content .modal-footer #footer {
    padding: 10px;
}
#myModal .modal-content .modal-footer #footer .address {
    line-height: 1.1
}
#myModal .modal-content h2.small-title {
    color: #4D8C47;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0
}
.span-seprator {
    border-bottom: 2px solid;
    width: 64px;
    margin: 14px 0 10px;
    display: inline-block
}

#post-217 .entry-content .container{max-width:100%; width:100%; padding:0}
#post-217 .entry-content .vc_col-sm-12{padding-left:0; padding-right:0}
#post-5 .entry-content .vc_col-sm-12{padding-left:0; padding-right:0}
.landing-wrap {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.landing-wrap .landing-inner {
    display: table-row;
    width: 100%;
}
.landing-wrap .landing-inner a {
    display: table-cell;
    width: 25%;
    text-align: center;
    vertical-align: middle;
    color: #000;
    background: #fff;
    position: relative;
    z-index: 5;
    padding: 200px 25px 60px;
    overflow: hidden
}
.landing-wrap .landing-inner a span {
    font-family: 'playfair_displayitalic';
    font-size: 18.44px;
    color: #6f6f6f;	
}
.landing-wrap .landing-inner a h2 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 0;
    letter-spacing: 0.21em;
	line-height:30px;
	margin-bottom:26px;
}
.landing-wrap .landing-inner a h3 {
    color: #6f6f6f;
    font-size: 13.5px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 0;
	margin-top:0px;
}
.landing-wrap .landing-inner a .move {
    position: absolute;
    left: -30%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    height: 100%;
    min-height: 100%;
	transition-property: opacity, transform;
    -moz-transition-property: opacity, transform;
	-webkit-transition-property: opacity, transform;
	-ms-transition-property: opacity, transform;
	transition-duration: 1s, 3s;
    -moz-transition-duration: 1s, 3s;
	-webkit-transition-duration: 1s, 3s;
	-ms-transition-duration: 1s, 3s;
    transform: scale(1) translate(0px);
	-moz-transform: scale(1) translate(0px);
	-webkit-transform: scale(1) translate(0px);
	-ms-transform: scale(1) translate(0px);
}
.landing-wrap .landing-inner a:hover .move {
    transition-property: opacity, transform;
    -moz-transition-property: opacity, transform;
	-webkit-transition-property: opacity, transform;
	-ms-transition-property: opacity, transform;
    transition-duration: 1s, 3s;
    -moz-transition-duration: 1s, 3s;
	-webkit-transition-duration: 1s, 3s;
	-ms-transition-duration: 1s, 3s;	
	 transform: scale(1.5) translate(30px);
	-moz-transform: scale(1.5) translate(30px);
	-webkit-transform: scale(1.5) translate(30px);
	-ms-transform: scale(1.5) translate(30px);
    background: url(../images/image-landing.jpg) 0 -20% no-repeat;
    background-size: cover
}
.landing-wrap .landing-inner a:hover {
    /*background:url(../) center bottom no-repeat;	background-size:cover;*/
}
.landing-inner > a:last-child {
    padding-top: 257px;
}
.landing-wrap .landing-inner a:hover:before {
    
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1
}
.landing-wrap .landing-inner a:first-child:hover:before{
	background: rgba(52, 73, 94, 0.72);
}
.landing-wrap .landing-inner a:nth-child(2):hover:before{
	background: rgba(128, 214, 140, 0.72);
}
.landing-wrap .landing-inner a:nth-child(3):hover:before{
	background: rgba(255, 214, 23, 0.72);
}
.landing-wrap .landing-inner a:nth-child(4):hover:before{
	background: rgba(255, 128, 15, 0.72);
}
.landing-wrap .landing-inner a:hover h3,
.landing-wrap .landing-inner a:hover h2,
.landing-wrap .landing-inner a:hover span {
    color: #fff
}
.logo3 {
    position: absolute;
    top: 32px;
    border: 12px solid #fff;
    border-radius: 100%;
    z-index: 999;
    left: 50%;
    margin-left: -130px
}
.customize-support header {
    display: none;
}
.customize-support .vc_row.wpb_row.vc_row-fluid {
    margin-bottom: 0px;
}
footer .footer-left .column ul li span {
    border-bottom: 0px solid #4D8C47;
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    width: auto;
}
#menu-top-menu li {
    display: inline-block;
	position:relative;
	padding:0 8px;
}
#menu-top-menu.nav > li > a{
	padding:0
}
#menu-top-menu.nav > li > a:hover{
	background:transparent;
	text-decoration:underline
}
@media (min-width: 930px){
    footer{
    display:block !important;
}

#menu-top-menu li::before {
    color: #fff;
    content: "|";
    font-size: 20px;
    position: absolute;
    right: -11px;
    top: -3px;
}
#menu-top-menu li:last-child:before{content:'';}
}
.printing.photography.graphic .vc_inner {
    margin: 0 !important;
    position: relative
}
.printing.photography.graphic .vc_inner:before {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}
.printing.photography.graphic .vc_inner:hover:before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: none;
}
.printing.photography.graphic img {
    width: 100%;
	height:326px;
}
.vc_btn3-container.btn.btn-primary.btn-lg.vc_btn3-inline {
    padding: 0!important;
    text-align: center;
}
.services-box.animated.fadeInDown.visible img {
    width: 100%;
}
.menu-image.menu-image-title-below {
    height: 29px !important;
    width: auto !important;
}
.fullwidth li a img {
    display: none !important;
}
.entry-content {
    padding-left: 15px;
    padding-right: 15px;
}
.vc_row.wpb_row.vc_row-fluid{
	margin-bottom:0px!important;
}
.vc_btn3-block.vc_btn3-size-lg.vc_general.vc_btn3{
    letter-spacing:0.11em;
}
.wpb_button, .wpb_content_element{
    margin-bottom:20px
}
}
/* MAX 930px */
@media only screen and (max-width: 931px) {
    .nav2 li:first-child{
        left: 0;
        position: relative!important;
    }
}
@media (max-width: 700px) {
    .landing-wrap .landing-inner a {
        display: block;
        width: 100%;
    }
    .logo3 {
        position: static;
        margin: auto;
        text-align: center
    }
    .landing-inner > a:last-child {
        padding-top: inherit;
    }
}

/* custom css LASHOP */
.wpcf7-form-control-signature-body canvas{
    background-color: #fff;
}

#topSection {
  background-color: rgba(77,140,71,1);
  }

  #intro_section {
  background: url(../../../uploads/2016/03/college-francais-ecole-privee-montreal-046.jpg) left bottom no-repeat;
  background-size: cover;
  position: relative;
}
.work-img img {
    width: 100%;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    height: auto;
}

.work-img .zoom {
    left: 50%;
    top: 40%;
    -moz-transform: translateY(-40%) translateX(-40%);
    -webkit-transform: translateY(-40%) translateX(-40%);
    -ms-transform: translateY(-40%) translateX(-40%);
    transform: translateY(-40%) translateX(-40%);
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.work-img .detail {
    right: 50%;
    top: 40%;
    -moz-transform: translateY(-40%) translateX(40%);
    -webkit-transform: translateY(-40%) translateX(40%);
    -ms-transform: translateY(-40%) translateX(40%);
    transform: translateY(-40%) translateX(40%);
    opacity: 0;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

a.school-title,
#footer2 a {
    color:#fff !important;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5ss;
}

a.school-title:hover,
#footer2 a:hover  {
    color:#333 !important;
}

@media only screen and (max-width: 640px){
#intro_section {
    background: none !important;
    background-size: cover !important;
}
.banner{
    padding: 0px 0 80px;
}
}

.overlay1:after {
    background: none repeat scroll 0 0 rgba(128, 214, 140, 0.8) !important;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

span.vc_tta-title-text {
  font-weight: 700;
}

.content-wrapper ul {
    list-style: none; 
    padding: 0;
    margin-bottom:20px;
}

.content-wrapper li { 
    padding-left: 16px; 
}

.content-wrapper li:before {
    content: "•"; 
    padding-right: 8px;
    color: #4D8C47; 
}

.wpb_text_column.wpb_content_element ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 15px;
}

.widget_pages ul li a{
color: #fff;
    background: #ccc;
    padding: 10px 15px;
    display: inline-block;
    float: left;
    -webkit-transition: all .5s;
    transition: all .5s;
    margin: 2px;
    min-width: 49%;
    text-align: center;
}

.menu-item a.menu-image-title-after.menu-image-not-hovered img{
    height: 30px;
    padding-right: 0px;
}

ul#menu-le-college-francais{
    text-align: center;
    display: inline-block;
    width: 100%;
}

footer .footer-left .column ul li{
    padding-bottom: 3px;
}

footer .footer-left .column ul li span{
    text-align: center;
}

#wpc-weather.medium .now .time_symbol svg {
    width: 200px;
    height: 120px;
    margin-bottom: -30px;
    position: relative;
    left: -73px;
    top: -13px;
}

@media (max-width: 1024px){
    .navbar-default{
    background: none !important;
    border: none !important;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
    background: #fff;
    margin-top: 15px;
}

.navbar-nav {
    margin: 0px -15px;
    background: #fff;
}
.head-in{
    padding-bottom:0px;
}
a.dropdown-toggle.dropdown-toggle-custom{
    background:#4D8C47;
}
.caret {
    /* font-size: 90px; */
    display: inline-block;
    /* width: 5px; */
    /* height: 5px; */
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px dashed;
    border-top: 4px solid\9;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.nav > li {
    margin-bottom: 7px;
    margin-right: 7px;
    border-bottom: solid #4D8C47 thin;
}
.landing-wrap .landing-inner a.sec-longueuil {
    background: #4D8C47 !important;
}
}


@media (max-width: 768px){
/*schoollanding page*/
    .banner h2 a.school-title{
        letter-spacing: 0em;
        margin-top: 60px;
        display: block;
    }
    .banner h3 {
        font-size: 20px;
    }
    /*.portail, .col-img.animated{
        display: none;
    }*/


.portail > a {
    position: relative;
    z-index: 9999;
    text-align: center;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    background: url(../images/icon/portail.png) no-repeat center 5px;
    padding-top: 40px;
    float: left;
    background-size: 30px;
}

.portail {
    top: 74px;
    position: fixed;
    right: 0;
    z-index: 993;
    background: #fff;
    width: 67px;
    height: 58px;

}
    .intro_section{
        padding: 0px;
    }
    .intro_section .col-content{
        background:#fff;
        padding: 20px 20px;
    }

    .nav2 li:nth-child(2){
        left: 0px;
        position: relative;
    }
    
    #menu-top-menu{
        display:none;
    }

    .navigation .logo a {
    width: auto;
    display: block;
    margin: 0;
}
}


.nav > li > a.dropdown-toggle-custom{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 800;
}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 0px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display: block !important;
    }
    div#navbar-primary{
        margin-top: 32px;
    }
        .sticky-wrapper{
        position: relative;
    }
}
