<template>
    <div>
        <!-- End Home-->
        <section id="slider">
            <div class="tp-banner">
                <div id="rev_slider_7_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                    <!-- START REVOLUTION SLIDER 5.1.6 auto mode -->
                    <div id="rev_slider_7_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.1.6">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-19" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="/assets/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-042.jpg" alt="Collège Français école privée Montréal" width="2000" height="1333" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                </div>
                <!-- END REVOLUTION SLIDER -->
            </div>
            <aside id="text-13" class="widget widget_text">
                <div class="textwidget">
                    <div class="portail"><a href="#" class="drop-icon">portail</a>
                        <ul class="portail-menu">
                            <li><a href="https://portaileleve.collegefrancais.ca/Pednet/login.asp?NoRegr=2" title="Portail">Portail</a></li>
                            <li><a href="https://cf.collegefrancais.com/Finnet/login.asp?NoRegr=1" title="Service aux employés">Service aux employés</a></li>
                            <li><a href="http://webmail.collegefrancais.ca/" title="Courriel">Courriel admin</a></li>
                            <li><a href="http://edu.challengeu.com/#login">Challenge U</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </section>
        <!-- Intro Section -->
        <section class="detail-section">
            <div class="container graysection">
                <div class="row">
                    <div class="col-sm-12 pattern-blue">
                        <ul class="breadcrumb">
                            <li>Notre équipe</li>
                        </ul>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="table-custom wpb_column vc_column_container vc_col-sm-8">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h1 class="main_title_a animated small-title fadeInUp visible" data-animation-delay="300" data-animation="fadeInUp">Notre équipe 2018-2019</h1>
                                        <div class="txt-center sub-title">Le Collège Français secondaire de Longueuil</div>

                                    </div>
                                </div>
                                <div class="vc_icon_element vc_icon_element-outer image-icon vc_icon_element-align-left">
                                    <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-lg vc_icon_element-style- vc_icon_element-background-color-grey">
                                        <span class="vc_icon_element-icon fa fa-sitemap" style="color:#4d8c47 !important"></span></div>
                                </div>

                                <div class="wpb_single_image wpb_content_element vc_align_center">

                                    <figure class="wpb_wrapper vc_figure">
                                        <a data-rel="prettyPhoto[rel-1071-2372119]" href="../../wp-content/uploads/2018/08/Direction-18-19-1024x593.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey prettyphoto"><img width="660" height="382" src="/assets/wp-content/uploads/2018/08/Direction-18-19-1024x593.jpg" class="vc_single_image-img attachment-large" alt="" srcset="http://secondaire.collegefrancais.ca/wp-content/uploads/2018/08/Direction-18-19-1024x593.jpg 1024w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/08/Direction-18-19-300x174.jpg 300w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/08/Direction-18-19-768x445.jpg 768w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/08/Direction-18-19-384x222.jpg 384w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/08/Direction-18-19-24x14.jpg 24w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/08/Direction-18-19-36x21.jpg 36w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/08/Direction-18-19-48x28.jpg 48w" sizes="(max-width: 660px) 100vw, 660px" /></a>
                                        <figcaption class="vc_figure-caption">M. S. Poupart, directeur, Mme C. Dubé, dir. adj. sec. 4 et 5, et directrice des services pédagogiques, et M. J. Blouin, dir. adj. sec. 1 à 3, et directeur des sports</figcaption>
                                    </figure>
                                </div>
                                <div class="vc_icon_element vc_icon_element-outer image-icon vc_icon_element-align-left">
                                    <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-lg vc_icon_element-style- vc_icon_element-background-color-grey">
                                        <span class="vc_icon_element-icon fa fa-shield" style="color:#4d8c47 !important"></span></div>
                                </div>

                                <div class="wpb_single_image wpb_content_element vc_align_center">

                                    <figure class="wpb_wrapper vc_figure">
                                        <a data-rel="prettyPhoto[rel-1071-1439562233]" href="../../wp-content/uploads/2018/08/Notre-%c3%a9quipe-2018-2019-1-1024x658.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey prettyphoto"><img width="660" height="424" src="/assets/wp-content/uploads/2018/08/Notre-%c3%a9quipe-2018-2019-1-1024x658.jpg" class="vc_single_image-img attachment-large" alt="" srcset="http://secondaire.collegefrancais.ca/wp-content/uploads/2018/08/Notre-équipe-2018-2019-1-1024x658.jpg 1024w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/08/Notre-équipe-2018-2019-1-300x193.jpg 300w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/08/Notre-équipe-2018-2019-1-768x494.jpg 768w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/08/Notre-équipe-2018-2019-1-384x247.jpg 384w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/08/Notre-équipe-2018-2019-1-24x15.jpg 24w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/08/Notre-équipe-2018-2019-1-36x23.jpg 36w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/08/Notre-équipe-2018-2019-1-48x31.jpg 48w" sizes="(max-width: 660px) 100vw, 660px" /></a>
                                    </figure>
                                </div>

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p style="text-align: center;">Cliquez sur la photo pour l&rsquo;agrandir</p>

                                    </div>
                                </div>
                                <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                                <div class="vc_tta-container" data-vc-action="collapse">
                                    <div class="vc_general vc_tta vc_tta-tabs vc_tta-color-grey vc_tta-style-classic vc_tta-shape-rounded vc_tta-spacing-1 vc_tta-tabs-position-top vc_tta-controls-align-left">
                                        <div class="vc_tta-tabs-container">
                                            <ul class="vc_tta-tabs-list">
                                                <li class="vc_tta-tab vc_active" data-vc-tab><a href="#1477332793170-76000239-1900" data-vc-tabs data-vc-container=".vc_tta"><span class="vc_tta-title-text">Personnel de direction</span></a></li>
                                                <li class="vc_tta-tab" data-vc-tab><a href="#1477332793303-e3f084fe-bf79" data-vc-tabs data-vc-container=".vc_tta"><span class="vc_tta-title-text">Personnel administratif</span></a></li>
                                                <li class="vc_tta-tab" data-vc-tab><a href="#1477332923603-bfe91700-8323" data-vc-tabs data-vc-container=".vc_tta"><span class="vc_tta-title-text">Services aux élèves</span></a></li>
                                                <li class="vc_tta-tab" data-vc-tab><a href="#1477332953889-1a29ee49-7f7c" data-vc-tabs data-vc-container=".vc_tta"><span class="vc_tta-title-text">Personnel enseignant</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="vc_tta-panels-container">
                                            <div class="vc_tta-panels">
                                                <div class="vc_tta-panel vc_active" id="1477332793170-76000239-1900" data-vc-content=".vc_tta-panel-body">
                                                    <div class="vc_tta-panel-heading">
                                                        <h4 class="vc_tta-panel-title"><a href="#1477332793170-76000239-1900" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Personnel de direction</span></a></h4></div>
                                                    <div class="vc_tta-panel-body">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>M. Bigras Claude</td>
                                                                            <td>Président et directeur exécutif</td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Bigras Alexandre</td>
                                                                            <td>Directeur général</td>
                                                                            <td>abigras@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Poupart Stéphane</td>
                                                                            <td>Directeur – poste 410</td>
                                                                            <td>ste_poupart@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Dubé Chantal</td>
                                                                            <td>Directrice des services pédagogiques et directrice adjointe sec. 4 &amp; 5 – poste 405</td>
                                                                            <td> cha_dube@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Blouin Jacques</td>
                                                                            <td>Directeur adjoint sec. 1, 2 &amp; 3 et directeur des sports – poste 404</td>
                                                                            <td> jac_blouin@collegefrancais.ca</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="vc_tta-panel" id="1477332793303-e3f084fe-bf79" data-vc-content=".vc_tta-panel-body">
                                                    <div class="vc_tta-panel-heading">
                                                        <h4 class="vc_tta-panel-title"><a href="#1477332793303-e3f084fe-bf79" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Personnel administratif</span></a></h4></div>
                                                    <div class="vc_tta-panel-body">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Mme Beauséjour Liette</td>
                                                                            <td>Responsable de l’organisation scolaire – poste 436</td>
                                                                            <td>lie_beausejour@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. De Grandpré Michel</td>
                                                                            <td>Responsable du transport scolaire – poste 439</td>
                                                                            <td>mic_degrandpre@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Paulino Maria</td>
                                                                            <td>Accueil – poste 401</td>
                                                                            <td>mar_paulino@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Soyez Martine</td>
                                                                            <td>Secrétariat administratif  – poste 402</td>
                                                                            <td>mar_soyez@collegefrancais.ca</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="vc_tta-panel" id="1477332923603-bfe91700-8323" data-vc-content=".vc_tta-panel-body">
                                                    <div class="vc_tta-panel-heading">
                                                        <h4 class="vc_tta-panel-title"><a href="#1477332923603-bfe91700-8323" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Services aux élèves</span></a></h4></div>
                                                    <div class="vc_tta-panel-body">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>M. Blanchet Louis-Philippe</td>
                                                                            <td>Responsable des sports et entraîneur de hockey – poste 403</td>
                                                                            <td>lp_blanchet@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Bolduc Nathalie</td>
                                                                            <td>Préposée à la bibliothèque – poste 407</td>
                                                                            <td>nat_bolduc@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Boudreault Mélanie</td>
                                                                            <td>Technicienne en loisirs – poste 414</td>
                                                                            <td>mel_boudreault@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Champagne Josée</td>
                                                                            <td>Surveillante Sec. 3, 4 &amp; 5 – poste 408</td>
                                                                            <td>jos_champagne@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Cyr Gabrielle</td>
                                                                            <td>Intervenante jeunesse – poste 413</td>
                                                                            <td>gab_cyr@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Fréchette Thérèse</td>
                                                                            <td>Surveillante Sec. 1 &amp; 2 – poste 406</td>
                                                                            <td>the_frechette@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Lebel Robert</td>
                                                                            <td>Surveillant Sec. 3, 4 &amp; 5 – poste 415</td>
                                                                            <td>rob_lebel@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Lemay Geneviève</td>
                                                                            <td>Conseillère en orientation – poste 409</td>
                                                                            <td>gen_lemay@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Ruberto Noémia</td>
                                                                            <td>Orthopédagogue – 413</td>
                                                                            <td>noe_ruberto@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Salesse Annie</td>
                                                                            <td>Technicienne en laboratoire – poste 429</td>
                                                                            <td>ann_salesse@collegefrancais.ca</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="vc_tta-panel" id="1477332953889-1a29ee49-7f7c" data-vc-content=".vc_tta-panel-body">
                                                    <div class="vc_tta-panel-heading">
                                                        <h4 class="vc_tta-panel-title"><a href="#1477332953889-1a29ee49-7f7c" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Personnel enseignant</span></a></h4></div>
                                                    <div class="vc_tta-panel-body">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>M. Bennhaila Abdelhadi</td>
                                                                            <td>Mathématiques</td>
                                                                            <td>abd_bennhaila@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Bourque Jean-Claude</td>
                                                                            <td>Univers social</td>
                                                                            <td>jea_bourque@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Bouskila Robert</td>
                                                                            <td>Mathématiques</td>
                                                                            <td>rob_bouskila@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Cabana-Lacombe Sarah</td>
                                                                            <td>Éducation physique</td>
                                                                            <td>sar_cabana@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Caron Marie-Noële</td>
                                                                            <td>Arts plastiques</td>
                                                                            <td>mar_caron@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Charland Céderick</td>
                                                                            <td>Arts plastiques &#8211; Éthique et culture religieuse</td>
                                                                            <td>ced_charland@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Chhe Dany</td>
                                                                            <td>Anglais</td>
                                                                            <td>dan_chhe@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Cristescu Georgeta</td>
                                                                            <td>Mathématiques</td>
                                                                            <td>geo_cristescu@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Daviau Stéphane</td>
                                                                            <td>Conditionnement physique &#8211; Midget Espoir</td>
                                                                            <td>ste_daviau@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Dietrich Véronica</td>
                                                                            <td>Français &#8211; Univers social</td>
                                                                            <td>ver_dietrich@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Di Loreto Julie</td>
                                                                            <td>Anglais</td>
                                                                            <td>jul_diloreto@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Farchado Abdeljalil</td>
                                                                            <td>Mathématiques</td>
                                                                            <td>abd_farchado@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Fares Geneva</td>
                                                                            <td>Histoire</td>
                                                                            <td>gen_fares@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Faucher Julie</td>
                                                                            <td>Français</td>
                                                                            <td>jul_faucher@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Giard Véronique</td>
                                                                            <td>Sciences et technologie &#8211; Chimie</td>
                                                                            <td>ver_giard@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Gosselin Caroline</td>
                                                                            <td>Français</td>
                                                                            <td>car_gosselin@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Hayoun Pascale</td>
                                                                            <td>Anglais</td>
                                                                            <td>pas_hayoun@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Juteau Stephan</td>
                                                                            <td>Sciences</td>
                                                                            <td>ste_juteau@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Juvénal Fabienne</td>
                                                                            <td>Français &#8211; Univers social</td>
                                                                            <td>fab_juvenal@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Lance Anick</td>
                                                                            <td>Français</td>
                                                                            <td>ani_lance@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Lecompte Élise</td>
                                                                            <td>Multimédia &#8211; Univers social</td>
                                                                            <td>eli_lecompte@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Lefebvre Sarah</td>
                                                                            <td>Concentration Danse</td>
                                                                            <td>dansesarahdanse@gmail.com</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Legault Patrick</td>
                                                                            <td>Concentration Hockey</td>
                                                                            <td>pat_legault@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Legault Stéphane</td>
                                                                            <td>Mathématiques</td>
                                                                            <td>ste_legault@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Marrec Karine</td>
                                                                            <td>Français</td>
                                                                            <td>kar_marrec@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Merhi Chirine</td>
                                                                            <td>Sciences</td>
                                                                            <td>chi_merhi@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Mestiri Rached</td>
                                                                            <td>Sciences et technologie &#8211; Physique</td>
                                                                            <td>rac_mestiri@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Michaud Robert</td>
                                                                            <td>Éthique &amp; Culture religieuse</td>
                                                                            <td>rob_michaud@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Mollas Stamatia</td>
                                                                            <td>Anglais</td>
                                                                            <td>sta_mollas@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Mouton Laurence</td>
                                                                            <td>Français</td>
                                                                            <td>lau_mouton@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Nadeau Martin</td>
                                                                            <td>Éducation physique &#8211; Bantam AA</td>
                                                                            <td>mar_nadeau@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Oligny Alexandre</td>
                                                                            <td>Concentration Jeux vidéo et réalité virtuelle</td>
                                                                            <td>ale_oligny@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Oshima Akira</td>
                                                                            <td>Concentration Volleyball</td>
                                                                            <td>aki_oshima@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Perpall Cynthia</td>
                                                                            <td>Concentration Multisport</td>
                                                                            <td>cyn_perpall@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Perreault-Roy Guillaume</td>
                                                                            <td>Concentration Jeux vidéo et réalité virtuelle</td>
                                                                            <td>gui_perreault-roy@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Pineau Alain</td>
                                                                            <td>Sciences et technologie</td>
                                                                            <td>ala_pineau@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Plante Josée</td>
                                                                            <td>Éducation physique</td>
                                                                            <td>jos_plante@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Plante Patricia</td>
                                                                            <td>Univers social &#8211; Engagement social</td>
                                                                            <td>pat_plante@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Rashid Mohamed Ishaq</td>
                                                                            <td>Mathématiques</td>
                                                                            <td>moh_rashid@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Rebbouhi El Mokhtar</td>
                                                                            <td>Mathématiques</td>
                                                                            <td>elm_rebbouhi@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Saint-Onge Annick</td>
                                                                            <td>Mathématiques</td>
                                                                            <td>ann_st-onge@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Schmit Francois</td>
                                                                            <td>Sciences</td>
                                                                            <td> fra_schmit@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>M. Sebbata Samir</td>
                                                                            <td>Anglais</td>
                                                                            <td>sam_sebbata@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Valin Marie-Josée</td>
                                                                            <td>Français</td>
                                                                            <td>marjos_valin@collegefrancais.ca</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mme Vidal Marja</td>
                                                                            <td>Univers social &#8211; Éthique et culture religieuse</td>
                                                                            <td>mar_vidal@collegefrancais.ca</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="pattern-blue wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_widgetised_column wpb_content_element pattern-blue">
                                    <div class="wpb_wrapper">

                                        <aside id="text-8" class="widget widget_text">
                                            <div class="textwidget">
                                                <ul class="sidebar">
                                                    <li data-animation-delay="300" data-animation="fadeInUp" class="animated"><a href="../../admission/index.html"><span class="icon-box"><img src="/assets/wp-content/uploads/2015/11/admission.png" alt="admission" /></span> <h4>Admission</h4> Faites une demande</a></li>
                                                    <li data-animation-delay="500" data-animation="fadeInUp" class="animated"><a href="../../nouvelles/index.html"><span class="icon-box"><img src="/assets/wp-content/uploads/2015/11/speaker1.png" alt="speaker1" /></span> <h4>nouvelles</h4> Soyez au courant</a></li>
                                                    <li data-animation-delay="700" data-animation="fadeInUp" class="animated"><a href="http://cms.collegefrancais.ca/"><span class="icon-box"><img src="/assets/wp-content/uploads/2015/11/icon4.png" alt="sports" /></span> <h4>complexe Sportif</h4>Ici on bouge</a></li>
                                                    <li data-animation-delay="900" data-animation="fadeInUp" class="animated"><a href="../../nous-joindre"><span class="icon-box"><img src="/assets/wp-content/uploads/2015/11/call.png" alt="call" /></span> <h4>contact</h4>Pour nous joindre</a></li>
                                                </ul>
                                            </div>
                                        </aside>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper"></div>
                        </div>
                    </div>
                </div>
                <span class="cp-load-after-post"></span> </div>
        </section>
        <!-- End Intro Section -->
        <!-- Features -->
        <section id="testimonial" class="parallax-section">
            <!-- Overlay1 -->
            <div class="overlay1">
                <!-- Toons -->
                <div class="testimonial toons1">
                    <!-- Content -->
                    <div class="content">
                        <!--White Title-->
                        <div class="section-title-white animated text-center" data-animation="fadeInUp" data-animation-delay="300">
                            <aside id="text-9" class="widget widget_text">
                                <div class="textwidget">
                                    <h1>les témoignages</h1>
                                    <h4>Des paroles qui nous tiennent à coeur</h4>
                                    <br>
                                    <br>
                                    <div class="text-center"><i><img src="/assets/wp-content/uploads/2015/11/chat.png" alt="chat" /></i></div>
                                    <div class="seperator">
                                        <div class="white_line">&nbsp;</div>
                                    </div>
                                </div>
                            </aside>
                            <div id="testimonial-carousel">
                                <div class="item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lectus magna, pharetra in nulla ultricies, sagittis maximus ligula. Sed auctor tortor quis euismod dictum. Sed enim diam, elementum quis lectus ut, tempus vestibulum risus. Aliquam in egestas nunc. Nam a magna quis massa condimentum tincidunt vitae quis eros. Ut dictum justo sagittis tempor hendrerit. Nam fringilla sit amet est pretium placerat.</p>
                                    <span class="cp-load-after-post"></span>
                                    <div class="client-name">
                                        <div class="client-image"></div>
                                        <div class="client-detail">Carla Miranda Ancienne élève Designer</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lectus magna, pharetra in nulla ultricies, sagittis maximus ligula. Sed auctor tortor quis euismod dictum. Sed enim diam, elementum quis lectus ut, tempus vestibulum risus. Aliquam in egestas nunc. Nam a magna quis massa condimentum tincidunt vitae quis eros. Ut dictum justo sagittis tempor hendrerit. Nam fringilla sit amet est pretium placerat.</p>
                                    <span class="cp-load-after-post"></span>
                                    <div class="client-name">
                                        <div class="client-image"></div>
                                        <div class="client-detail">Carla Miranda Ancienne élève Designer</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lectus magna, pharetra in nulla ultricies, sagittis maximus ligula. Sed auctor tortor quis euismod dictum. Sed enim diam, elementum quis lectus ut, tempus vestibulum risus. Aliquam in egestas nunc. Nam a magna quis massa condimentum tincidunt vitae quis eros. Ut dictum justo sagittis tempor hendrerit. Nam fringilla sit amet est pretium placerat.</p>
                                    <span class="cp-load-after-post"></span>
                                    <div class="client-name">
                                        <div class="client-image"></div>
                                        <div class="client-detail">Carla Miranda Ancienne élève Designer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End White Title-->
                    </div>
                    <!-- End Content -->
                </div>
                <!-- End toons -->
            </div>
            <!-- End overlay1 -->
        </section>
        <!-- End Features -->
    </div>
</template>