<template>
    <div>
        <!-- End Home-->
        <section id="slider">
            <div class="tp-banner">
                <div id="rev_slider_7_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                    <!-- START REVOLUTION SLIDER 5.1.6 auto mode -->
                    <div id="rev_slider_7_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.1.6">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-19" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="/assets/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-042.jpg" alt="Collège Français école privée Montréal" width="2000" height="1333" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                </div>
                <!-- END REVOLUTION SLIDER -->
            </div>
            <aside id="text-13" class="widget widget_text">
                <div class="textwidget">
                    <div class="portail"><a href="#" class="drop-icon">portail</a>
                        <ul class="portail-menu">
                            <li><a href="https://portaileleve.collegefrancais.ca/Pednet/login.asp?NoRegr=2" title="Portail">Portail</a></li>
                            <li><a href="https://cf.collegefrancais.com/Finnet/login.asp?NoRegr=1" title="Service aux employés">Service aux employés</a></li>
                            <li><a href="http://webmail.collegefrancais.ca/" title="Courriel">Courriel admin</a></li>
                            <li><a href="http://edu.challengeu.com/#login">Challenge U</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </section>
        <!-- Intro Section -->
        <section class="detail-section">
            <div class="container graysection">
                <div class="row">
                    <div class="col-sm-12 pattern-blue">
                        <ul class="breadcrumb">
                            <li>Fondation</li>
                        </ul>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-8">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h1 class="main_title_a animated small-title fadeInUp visible" data-animation-delay="300" data-animation="fadeInUp">Fondation</h1>
                                        <div class="txt-center sub-title">Le Collège Français secondaire de Longueuil</div>

                                    </div>
                                </div>
                                <div class="vc_icon_element vc_icon_element-outer image-icon vc_icon_element-align-left">
                                    <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-lg vc_icon_element-style- vc_icon_element-background-color-grey">
                                        <span class="vc_icon_element-icon fa fa-shield" style="color:#19344e !important"></span></div>
                                </div>
                                <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Depuis quelques années, d’anciens élèves, ainsi que des parents d’élèves, nous proposent de contribuer à rendre les coûts de scolarité accessibles au plus grand nombre.
                                            <br /> En réponse à leur suggestion, nous avons créé la « Fondation du Collège Français » a été créée en septembre 2001.
                                            <br /> Nos objectifs sont les suivants :</p>
                                        <ul>
                                            <li>Seconder financièrement certains parents dont les enfants méritent d’être encouragés dans leurs efforts et leur volonté de réussir.</li>
                                            <li>Créer un fonds destiné à accorder des bourses d’excellence.</li>
                                            <li>Permettre l’achat d’équipement didactique, informatique, sportif et récréatif.</li>
                                            <li>Soutenir le centre d’aide pédagogique et le développement d’une élite sportive.</li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="pattern-blue wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_widgetised_column wpb_content_element pattern-blue">
                                    <div class="wpb_wrapper">

                                        <aside id="text-8" class="widget widget_text">
                                            <div class="textwidget">
                                                <ul class="sidebar">
                                                    <li data-animation-delay="300" data-animation="fadeInUp" class="animated"><a href="../../admission/index.html"><span class="icon-box"><img src="/assets/wp-content/uploads/2015/11/admission.png" alt="admission" /></span> <h4>Admission</h4> Faites une demande</a></li>
                                                    <li data-animation-delay="500" data-animation="fadeInUp" class="animated"><a href="../../nouvelles/index.html"><span class="icon-box"><img src="/assets/wp-content/uploads/2015/11/speaker1.png" alt="speaker1" /></span> <h4>nouvelles</h4> Soyez au courant</a></li>
                                                    <li data-animation-delay="700" data-animation="fadeInUp" class="animated"><a href="http://cms.collegefrancais.ca/"><span class="icon-box"><img src="/assets/wp-content/uploads/2015/11/icon4.png" alt="sports" /></span> <h4>complexe Sportif</h4>Ici on bouge</a></li>
                                                    <li data-animation-delay="900" data-animation="fadeInUp" class="animated"><a href="../../nous-joindre/index.html"><span class="icon-box"><img src="/assets/wp-content/uploads/2015/11/call.png" alt="call" /></span> <h4>contact</h4>Pour nous joindre</a></li>
                                                </ul>
                                            </div>
                                        </aside>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="cp-load-after-post"></span> </div>
        </section>
        <!-- End Intro Section -->
        <!-- Features -->
        <section id="testimonial" class="parallax-section">
            <!-- Overlay1 -->
            <div class="overlay1">
                <!-- Toons -->
                <div class="testimonial toons1">
                    <!-- Content -->
                    <div class="content">
                        <!--White Title-->
                        <div class="section-title-white animated text-center" data-animation="fadeInUp" data-animation-delay="300">
                            <aside id="text-9" class="widget widget_text">
                                <div class="textwidget">
                                    <h1>les témoignages</h1>
                                    <h4>Des paroles qui nous tiennent à coeur</h4>
                                    <br>
                                    <br>
                                    <div class="text-center"><i><img src="/assets/wp-content/uploads/2015/11/chat.png" alt="chat" /></i></div>
                                    <div class="seperator">
                                        <div class="white_line">&nbsp;</div>
                                    </div>
                                </div>
                            </aside>
                            <div id="testimonial-carousel">
                                <div class="item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lectus magna, pharetra in nulla ultricies, sagittis maximus ligula. Sed auctor tortor quis euismod dictum. Sed enim diam, elementum quis lectus ut, tempus vestibulum risus. Aliquam in egestas nunc. Nam a magna quis massa condimentum tincidunt vitae quis eros. Ut dictum justo sagittis tempor hendrerit. Nam fringilla sit amet est pretium placerat.</p>
                                    <span class="cp-load-after-post"></span>
                                    <div class="client-name">
                                        <div class="client-image"></div>
                                        <div class="client-detail">Carla Miranda Ancienne élève Designer</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lectus magna, pharetra in nulla ultricies, sagittis maximus ligula. Sed auctor tortor quis euismod dictum. Sed enim diam, elementum quis lectus ut, tempus vestibulum risus. Aliquam in egestas nunc. Nam a magna quis massa condimentum tincidunt vitae quis eros. Ut dictum justo sagittis tempor hendrerit. Nam fringilla sit amet est pretium placerat.</p>
                                    <span class="cp-load-after-post"></span>
                                    <div class="client-name">
                                        <div class="client-image"></div>
                                        <div class="client-detail">Carla Miranda Ancienne élève Designer</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lectus magna, pharetra in nulla ultricies, sagittis maximus ligula. Sed auctor tortor quis euismod dictum. Sed enim diam, elementum quis lectus ut, tempus vestibulum risus. Aliquam in egestas nunc. Nam a magna quis massa condimentum tincidunt vitae quis eros. Ut dictum justo sagittis tempor hendrerit. Nam fringilla sit amet est pretium placerat.</p>
                                    <span class="cp-load-after-post"></span>
                                    <div class="client-name">
                                        <div class="client-image"></div>
                                        <div class="client-detail">Carla Miranda Ancienne élève Designer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End White Title-->
                    </div>
                    <!-- End Content -->
                </div>
                <!-- End toons -->
            </div>
            <!-- End overlay1 -->
        </section>
        <!-- End Features -->
    </div>
</template>