<template>
  <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <article id="post-5" class="post-5 page type-page status-publish hentry">
                <header class="entry-header">
                    <h1 class="entry-title">Collège Français</h1> </header>
                <!-- .entry-header -->
                <div class="entry-content">
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_widgetised_column wpb_content_element">
                                        <div class="wpb_wrapper">
                                            <aside id="text-13" class="widget widget_text">
                                                <div class="textwidget">
                                                    <div class="portail"><a href="#" class="drop-icon">portail</a>
                                                        <ul class="portail-menu">
                                                            <li><a href="https://portaileleve.collegefrancais.ca/Pednet/login.asp?NoRegr=2" title="Portail">Portail</a></li>
                                                            <li><a href="https://cf.collegefrancais.com/Finnet/login.asp?NoRegr=1" title="Service aux employés">Service aux employés</a></li>
                                                            <li><a href="http://Webmail.collegefrancais.ca" title="Courriel">Courriel admin</a></li>
                                                            <li><a href="http://edu.challengeu.com/#login">Challenge U</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </aside>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_revslider_element wpb_content_element">
                                        <link href="&#039;http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&#039; rel=&#039;stylesheet&#039; type=&#039;text/css&#039;">
                                        <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;">
                                            <!-- START REVOLUTION SLIDER 5.1.6 auto mode -->
                                            <div id="rev_slider_3_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.1.6">
                                                <ul>
                                                    <!-- SLIDE  -->
                                                    <li data-index="rs-5" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="on" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://secondaire.collegefrancais.ca/wp-content/uploads/revslider/slider/college-francais-ecole-privee-montreal-031-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                                        <!-- MAIN IMAGE -->
                                                        <img src="http://secondaire.collegefrancais.ca/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="" width="1697" height="1131" data-lazyload="http://secondaire.collegefrancais.ca/wp-content/uploads/revslider/slider/college-francais-ecole-privee-montreal-031.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                                        <!-- LAYERS -->
                                                        <!-- LAYER NR. 1 -->
                                                        <div class="tp-caption large_text   tp-resizeme" id="slide-5-layer-1" data-x="center" data-hoffset="-212" data-y="center" data-voffset="198" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;rZ:inherit;" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="3700" style="z-index: 5; white-space: nowrap; font-weight: 100; color: rgba(255, 255, 255, 1.00);font-style:italic;background-color:rgba(77, 140, 71, 0.49);padding:20px 50px 20px 50px;border-color:rgba(255, 255, 255, 1.00);"><span style="font-size:60px; line-height:65px; font-weight:100;">Venez découvrir <br/>la recette de la <strong>réussite</strong></span>
                                                        </div>
                                                        <!-- LAYER NR. 2 -->
                                                        <div class="tp-caption   tp-resizeme" id="slide-5-layer-2" data-x="1129" data-y="597" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-actions='[{"event":"click","action":"toggle_mute_video","layer":"backgroundvideo","delay":""}]' data-responsive_offset="on" style="z-index: 6;"><img src="http://secondaire.collegefrancais.ca/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="" width="280" height="281" data-ww="62px" data-hh="63px" data-lazyload="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/04/mute.png" data-no-retina>
                                                        </div>

                                                        <!-- LAYER NR. 3 -->
                                                        <div class="tp-caption   tp-resizeme" id="slide-5-layer-3" data-x="1200" data-y="595" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-actions='[{"event":"click","action":"unmutevideo","layer":"backgroundvideo","delay":""}]' data-responsive_offset="on" style="z-index: 7;"><img src="http://secondaire.collegefrancais.ca/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="" width="214" height="214" data-ww="62px" data-hh="63px" data-lazyload="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/04/sound.png" data-no-retina>
                                                        </div>
                                                    </li>
                                                    <!-- SLIDE  -->
                                                    <li data-index="rs-6" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://secondaire.collegefrancais.ca/wp-content/uploads/revslider/slider/college-francais-ecole-privee-montreal-023-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                                        <!-- MAIN IMAGE -->
                                                        <img src="http://secondaire.collegefrancais.ca/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="" width="1958" height="1305" data-lazyload="http://secondaire.collegefrancais.ca/wp-content/uploads/revslider/slider/college-francais-ecole-privee-montreal-023.jpg" data-bgposition="center center" data-bgfit="normal" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                                        <!-- LAYERS -->

                                                        <!-- LAYER NR. 1 -->
                                                        <div class="tp-caption large_text   tp-resizeme" id="slide-6-layer-1" data-x="center" data-hoffset="-26" data-y="center" data-voffset="231" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:right;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="3700" style="z-index: 5; white-space: nowrap; font-weight: 100; color: rgba(255, 255, 255, 1.00);font-style:italic;background-color:rgba(77, 140, 71, 0.49);padding:20px 50px 20px 50px;border-color:rgba(255, 255, 255, 1.00);"><span style="font-size:60px; line-height:65px; font-weight:100;"><strong>Un milieu de vie stimulant</strong></span>
                                                        </div>
                                                    </li>
                                                    <!-- SLIDE  -->
                                                    <li data-index="rs-7" data-transition="random" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-026-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                                        <!-- MAIN IMAGE -->
                                                        <img src="http://secondaire.collegefrancais.ca/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="Élève du Collège Français en pause" width="1964" height="1309" data-lazyload="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-026.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                                        <!-- LAYERS -->

                                                        <!-- LAYER NR. 1 -->
                                                        <div class="tp-caption black   tp-resizeme" id="slide-7-layer-1" data-x="100" data-y="100" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;rZ:inherit;" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="3700" style="z-index: 5; white-space: nowrap; font-size: ; line-height: ; font-weight: ;">
                                                            <div class="rs-looped disabled">
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <!-- SLIDE  -->
                                                    <li data-index="rs-13" data-transition="random" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://secondaire.collegefrancais.ca/wp-content/uploads/revslider/slider/college-francais-ecole-privee-montreal-038-e1454535360229-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                                        <!-- MAIN IMAGE -->
                                                        <img src="http://secondaire.collegefrancais.ca/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="" width="1955" height="924" data-lazyload="http://secondaire.collegefrancais.ca/wp-content/uploads/revslider/slider/college-francais-ecole-privee-montreal-038-e1454535360229.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                                        <!-- LAYERS -->

                                                        <!-- LAYER NR. 1 -->
                                                        <div class="tp-caption black   tp-resizeme" id="slide-13-layer-1" data-x="100" data-y="100" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;rZ:inherit;" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="3700" style="z-index: 5; white-space: nowrap; font-size: ; line-height: ; font-weight: ;">
                                                            <div class="rs-looped disabled">
                                                            </div>
                                                        </div>

                                                        <!-- LAYER NR. 2 -->
                                                        <div class="tp-caption large_text   tp-resizeme" id="slide-13-layer-2" data-x="123" data-y="487" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="800" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="3700" style="z-index: 6; white-space: nowrap; font-weight: 100; color: rgba(255, 255, 255, 1.00);font-style:italic;background-color:rgba(77, 140, 71, 0.49);padding:20px 50px 20px 50px;border-color:rgba(255, 255, 255, 1.00);"><span style="font-size:100px; font-weight:100;">Un grand collège</span>
                                                            <br/> <span style="font-size:60px; line-height:65px; font-weight:100;">laisse sa marque pour la vie !</span>
                                                        </div>
                                                    </li>
                                                    <!-- SLIDE  -->
                                                    <li data-index="rs-15" data-transition="random" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-035-coul-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                                        <!-- MAIN IMAGE -->
                                                        <img src="http://secondaire.collegefrancais.ca/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="" width="1860" height="1240" data-lazyload="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-035-coul.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                                        <!-- LAYERS -->

                                                        <!-- LAYER NR. 1 -->
                                                        <div class="tp-caption black   tp-resizeme" id="slide-15-layer-1" data-x="100" data-y="100" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;rZ:inherit;" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="3700" style="z-index: 5; white-space: nowrap; font-size: ; line-height: ; font-weight: ;">
                                                            <div class="rs-looped disabled">
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>
                                            </div>
                                            
                                        </div>
                                        <!-- END REVOLUTION SLIDER -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <section id="intro_section" class="main-content">
                                                <div class="intro_section">
                                                    <div class="hidden-xs col-img animated" data-animation="fadeInUp" data-animation-delay="300">
                                                        <p>&nbsp;</p>
                                                    </div>
                                                    <div class="col-content">
                                                        <h1>Notre école secondaire privée</h1>
                                                        <h2>Nos avantages</h2>
                                                        <div class="clearfix">
                                                            <div class="col-sm-6 col-sm-6 col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="300">
                                                                <div class="heading">
                                                                    <div class="iconcustom-img"><img class="alignnone size-full wp-image-7" src="/wp-content/themes/Collegefrancais/images/icon/icon6.png" alt="icon6" width="36" height="42" /></div>
                                                                    <h4>Passage primaire-secondaire</h4>
                                                                </div>
                                                                <p>Le Collège Français s&rsquo;investit en accompagnant les élèves dans la transition du primaire au secondaire.
                                                                    <br />
                                                                    <a href="/admission/passage-primaire-secondaire/"><i class="fa fa-plus"></i> </a></p>
                                                            </div>
                                                            <div class="col-sm-6 col-sm-6 col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="600">
                                                                <div class="heading">
                                                                    <div class="iconcustom-img"><img class="alignnone size-full wp-image-8" src="/wp-content/themes/Collegefrancais/images/icon/icon7.png" alt="icon7" width="40" height="49" /></div>
                                                                    <h4>Parmi les premiers de classe</h4>
                                                                    <p>Chaque année, le Collège Français obtient d’excellents résultats aux examens du ministère de l’Éducation. Il contribue à l’épanouissement de jeunes diplômés qui, un jour, feront partie de l’élite de notre société.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix">
                                                            <div class="col-sm-6 col-sm-6 col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="900">
                                                                <div class="heading">
                                                                    <div class="iconcustom-img"><img class="alignnone size-full wp-image-9" src="/wp-content/themes/Collegefrancais/images/icon/icon8.png" alt="icon8" width="64" height="38" /></div>
                                                                    <h4>Voyages</h4>
                                                                </div>
                                                                <p>L’apprentissage ne devrait pas avoir de frontières! Afin d’élargir leurs horizons et leur faire découvrir les innombrables beautés de ce monde, nous proposons à nos élèves de participer à des voyages vers des destinations fascinantes, afin de les motiver, d’approfondir leurs connaissances et de piquer leur curiosité. Il s’agit d’expériences uniques qui les feront non seulement grandir, mais dont ils se souviendront toute leur vie.
                                                                    <br />
                                                                    <a href="/vie-scolaire/voyages/"><i class="fa fa-plus"></i> </a>
                                                                </p>
                                                            </div>
                                                            <div class="col-sm-6 col-sm-6 col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="1200">
                                                              <div class="heading">
                                                                  <div class="iconcustom-img"><img class="alignnone size-full wp-image-10" src="/wp-content/themes/Collegefrancais/images/icon/icon9.png" alt="icon9" width="45" height="43" /></div>
                                                                  <h4>Encadrement</h4>
                                                              </div>
                                                              <p>
                                                                <strong>Politique de tolérance zéro<br/></strong>
                                                                Tous les usagers du Collège doivent respecter la Charte des droits du Collège :
                                                              </p>
                                                              <p>Je serai traité avec respect. Je traiterai les autres avec respect. Je serai accepté tel que je suis, peu importe mes différences. Je vivrai en sécurité.
                                                                <br />
                                                                <a href="/vie-scolaire/encadrement/"><i class="fa fa-plus"></i> </a>
                                                              </p>
                                                            </div>
                                                            <div class="clearfix">
                                                                <div class="col-sm-6 col-sm-6 col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="1200">
                                                                    <div class="heading">
                                                                        <div class="iconcustom-img"><img class="alignnone size-full wp-image-10" src="/wp-content/uploads/2016/04/video-icon-vert.png" alt="Vidéos" width="45" height="43" /></div>
                                                                        <h4>Vidéos</h4>
                                                                    </div>
                                                                    <p>Visionnez les vidéos du Collège Français pour vivre l&rsquo;expérience et l&rsquo;ambiance qui règne dans l&rsquo;établissement.
                                                                        <br />
                                                                        <a href="/videos"><i class="fa fa-plus"></i> </a></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h1 class="main_title_a animated small-title" data-animation="fadeInUp" data-animation-delay="300">Un grand collège, de grandes réussites!</h1>
                                            <div class="txt-center sub-title">Le Collège en images</div>
                                            <p><i class="text-center image-icon"><img class="alignnone size-full wp-image-143" src="/wp-content/themes/Collegefrancais/images/icon/camera.png" alt="camera" width="45" height="42" /></i></p>

                                        </div>
                                    </div>
                                    <div class="wpb_widgetised_column wpb_content_element">
                                        <div class="wpb_wrapper">

                                            <aside id="execphp-2" class="widget widget_execphp">
                                                <div class="execphpwidget">
                                                    <div class="animated pretty-lightbox-a" data-animation="fadeInUp" data-animation-delay="700">
                                                        <!-- Filter -->
                                                        <div class="portfolio-slides" id="our-portfolio-carousel">
                                                            <!-- Member -->
                                                            <!-- Item -->
                                                            <div class="item">
                                                                <div class="work col-xs-12 printing photography">
                                                                    <div class="work-inner">
                                                                        <div class="work-img">
                                                                            <img width="825" height="510" src="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-051-825x510.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Élèves du Collège Français" />
                                                                            <div class="mask">
                                                                                <a class="button zoom" href="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-051.jpg" data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="work col-xs-12 printing photography">
                                                                    <div class="work-inner">
                                                                        <div class="work-img">
                                                                            <img width="825" height="510" src="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-048-825x510.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Collège Français école privée Montréal" srcset="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-048-825x510.jpg 825w, http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-048-24x16.jpg 24w" sizes="(max-width: 825px) 100vw, 825px" />
                                                                            <div class="mask">
                                                                                <a class="button zoom" href="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-048.jpg" data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="work col-xs-12 printing photography">
                                                                    <div class="work-inner">
                                                                        <div class="work-img">
                                                                            <img width="825" height="510" src="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-046-825x510.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Collège Français école privée Montréal" srcset="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-046-825x510.jpg 825w, http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-046-24x16.jpg 24w" sizes="(max-width: 825px) 100vw, 825px" />
                                                                            <div class="mask">
                                                                                <a class="button zoom" href="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-046.jpg" data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="work col-xs-12 printing photography">
                                                                    <div class="work-inner">
                                                                        <div class="work-img">
                                                                            <img width="825" height="510" src="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-027-825x510.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Élève du Collège Français avec uniforme" srcset="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-027-825x510.jpg 825w, http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-027-24x16.jpg 24w" sizes="(max-width: 825px) 100vw, 825px" />
                                                                            <div class="mask">
                                                                                <a class="button zoom" href="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-027.jpg" data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="work col-xs-12 printing photography">
                                                                    <div class="work-inner">
                                                                        <div class="work-img">
                                                                            <img width="825" height="510" src="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-026-825x510.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Élève du Collège Français en pause" srcset="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-026-825x510.jpg 825w, http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-026-24x16.jpg 24w" sizes="(max-width: 825px) 100vw, 825px" />
                                                                            <div class="mask">
                                                                                <a class="button zoom" href="http://secondaire.collegefrancais.ca/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-026.jpg" data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Item -->
                                                        </div>
                                                        <!-- End Filter -->
                                                    </div>
                                                </div>
                                            </aside>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid container">
                        <div class="main-content wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h1 class="main_title_a animated small-title fadeInUp visible" data-animation-delay="300" data-animation="fadeInUp">Les nouvelles du collège</h1>
                                            <div class="txt-center sub-title">Soyez au courant!</div>
                                            <p><i class="text-center image-icon"><img class="alignnone size-full wp-image-175" src="/wp-content/themes/Collegefrancais/images/icon//speaker.png" alt="speaker" width="59" height="41" /></i></p>

                                        </div>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="services-box services-box-odd animated" data-animation-delay="700" data-animation="fadeInDown">

                                                        <div class="image-section">
                                                            <a href="http://secondaire.collegefrancais.ca/des-eleves-du-college-francais-a-danse-ton-boot-camp-de-drummondville/"><img width="282" height="282" src="http://secondaire.collegefrancais.ca/wp-content/uploads/2018/11/Photo-danse-bootcamp-282x282.jpg" class="attachment-custom-post_news size-custom-post_news wp-post-image" alt="" srcset="http://secondaire.collegefrancais.ca/wp-content/uploads/2018/11/Photo-danse-bootcamp-282x282.jpg 282w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/11/Photo-danse-bootcamp-150x150.jpg 150w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/11/Photo-danse-bootcamp-300x300.jpg 300w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/11/Photo-danse-bootcamp-768x768.jpg 768w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/11/Photo-danse-bootcamp-1024x1024.jpg 1024w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/11/Photo-danse-bootcamp-24x24.jpg 24w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/11/Photo-danse-bootcamp-36x36.jpg 36w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/11/Photo-danse-bootcamp-48x48.jpg 48w" sizes="(max-width: 282px) 100vw, 282px" /></a>
                                                        </div>

                                                        <div class="content-section">
                                                            <h3>Publié le 27 novembre 2018</h3>
                                                            <h4><a href="http://secondaire.collegefrancais.ca/des-eleves-du-college-francais-a-danse-ton-boot-camp-de-drummondville/">Des élèves du Collège Français à « Danse ton boot camp! » de Drummondville</a></h4>
                                                            <div class="feature-box-info">
                                                                Le week-end dernier, des élèves de la concentration danse ont participé au « Boot camp en danse » du Cégep de Drummondville : un week-end d’ateliers divers et de chorégraphies stimulantes. La photo présente nos élèves avec deux membres [...]
                                                                <p class="text-right"><a href="http://secondaire.collegefrancais.ca/des-eleves-du-college-francais-a-danse-ton-boot-camp-de-drummondville/">Lire plus</a></p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="services-box services-box-even animated" data-animation-delay="700" data-animation="fadeInDown">

                                                        <div class="content-section">
                                                            <h3>Publié le 24 octobre 2018</h3>
                                                            <h4><a href="http://secondaire.collegefrancais.ca/dimanche-a-eu-lieu-la-presentation-officielle-des-equipes-de-hockey-du-college-francais/">Dimanche a eu lieu la présentation officielle des équipes de hockey du Collège Français</a></h4>
                                                            <div class="feature-box-info">
                                                                C&rsquo;est le dimanche 21 octobre, à l’aréna Olivier Ford de Saint-Hubert, devant plus de 500 personnes, qu&rsquo;a eu lieu la présentation officielle des 7 équipes de hockey du Collège Français (Benjamin, Cadet et Juvénile D1, [...]
                                                                <p class="text-right"><a href="http://secondaire.collegefrancais.ca/dimanche-a-eu-lieu-la-presentation-officielle-des-equipes-de-hockey-du-college-francais/">Lire plus</a></p>
                                                            </div>
                                                        </div>

                                                        <div class="image-section">
                                                            <a href="http://secondaire.collegefrancais.ca/dimanche-a-eu-lieu-la-presentation-officielle-des-equipes-de-hockey-du-college-francais/"><img width="384" height="256" src="http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Présentation-officielle-des-équipes-1-384x256.jpg" class="attachment-custom-post_news size-custom-post_news wp-post-image" alt="" srcset="http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Présentation-officielle-des-équipes-1-384x256.jpg 384w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Présentation-officielle-des-équipes-1-300x200.jpg 300w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Présentation-officielle-des-équipes-1-768x512.jpg 768w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Présentation-officielle-des-équipes-1-24x16.jpg 24w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Présentation-officielle-des-équipes-1-36x24.jpg 36w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Présentation-officielle-des-équipes-1-48x32.jpg 48w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Présentation-officielle-des-équipes-1.jpg 876w" sizes="(max-width: 384px) 100vw, 384px" /></a>
                                                        </div>

                                                    </div>
                                                    <div class="services-box services-box-odd animated" data-animation-delay="700" data-animation="fadeInDown">

                                                        <div class="image-section">
                                                            <a href="http://secondaire.collegefrancais.ca/un-bingo-dhalloween/"><img width="282" height="282" src="http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Photo-bingo-1-282x282.jpg" class="attachment-custom-post_news size-custom-post_news wp-post-image" alt="" srcset="http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Photo-bingo-1-282x282.jpg 282w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Photo-bingo-1-150x150.jpg 150w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Photo-bingo-1-300x300.jpg 300w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Photo-bingo-1-768x768.jpg 768w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Photo-bingo-1-1024x1024.jpg 1024w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Photo-bingo-1-24x24.jpg 24w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Photo-bingo-1-36x36.jpg 36w, http://secondaire.collegefrancais.ca/wp-content/uploads/2018/10/Photo-bingo-1-48x48.jpg 48w" sizes="(max-width: 282px) 100vw, 282px" /></a>
                                                        </div>

                                                        <div class="content-section">
                                                            <h3>Publié le 23 octobre 2018</h3>
                                                            <h4><a href="http://secondaire.collegefrancais.ca/un-bingo-dhalloween/">Un bingo d’Halloween</a></h4>
                                                            <div class="feature-box-info">
                                                                Ce midi, des élèves ont participé à un bingo à saveur sucrée dans le cadre des festivités d’Halloween.
                                                                <p class="text-right"><a href="http://secondaire.collegefrancais.ca/un-bingo-dhalloween/">Lire plus</a></p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="vc_btn3-container  graybutton col-xs-12 vc_btn3-center">
                                                        <a style="background-color:#4d8c47; color:#ffffff;" class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-rounded vc_btn3-style-custom vc_btn3-block" href="/nouvelles" title="">Voir toutes les nouvelles</a></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 hidden-xs wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <div id="wpc-weather-id-352" class="wpc-weather-id" data-id="352" data-post-id="2435" data-map="" data-detect-geolocation="" data-manual-geolocation="" data-wpc-lat="" data-wpc-lon="" data-wpc-city-id="" data-wpc-city-name="" data-custom-font=""></div>

                                                        </div>
                                                    </div>

                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <div class="fb-page" data-href="https://www.facebook.com/LeCollegeFrancais/" data-width="392" data-height="650" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element  hidden-xs">
                                        <div class="wpb_wrapper">
                                            <section id="features" class="parallax-section toons1">
                                                <div class="sportings">
                                                    <div class="content">
                                                        <div class="section-title-white animated text-center" data-animation="fadeInUp" data-animation-delay="300">
                                                            <h1>Un des seuls collèges à offrir un<br />complexe sportif ultramoderne</h1>
                                                            <div class="text-center"><i><img class="alignnone size-full wp-image-195" src="http://secondaire.collegefrancais.ca/wp-content/uploads/2015/11/icon10.png" alt="icon10" width="89" height="53" srcset="http://secondaire.collegefrancais.ca/wp-content/uploads/2015/11/icon10.png 89w, http://secondaire.collegefrancais.ca/wp-content/uploads/2015/11/icon10-24x14.png 24w, http://secondaire.collegefrancais.ca/wp-content/uploads/2015/11/icon10-36x21.png 36w, http://secondaire.collegefrancais.ca/wp-content/uploads/2015/11/icon10-48x29.png 48w" sizes="(max-width: 89px) 100vw, 89px" /></i></div>
                                                            <div class="seperator"></div>
                                                            <div class="animated" data-animation="fadeInUp" data-animation-delay="0"><a class="graybutton2" href="http://cms.collegefrancais.ca/">VISITEZ NOTRE COMPLEXE SPORTIF</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>

                                        </div>
                                    </div>
                                    <div class="vc_btn3-container  visible-xs vc_btn3-center">
                                        <a style="background-color:#4d8c47; color:#ffffff;" class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-square vc_btn3-style-custom vc_btn3-icon-left" href="http://cms.collegefrancais.ca" title="" target="_blank"><i class="vc_btn3-icon fa fa-futbol-o"></i> Visitez notre complexe sportif</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="cp-load-after-post"></span> </div>
                <!-- .entry-content -->

            </article>
            <!-- #post-## -->

        </main>
        <!-- .site-main -->
    </div>
    <!-- .content-area -->
</template>


<script>
import MainLayout from '../layouts/Main.vue'

export default {
    components: {
        MainLayout
    }
}
</script>
