<template>
    <div>
        <!-- End Home-->
        <section id="slider">
            <div class="tp-banner">
                <div id="rev_slider_7_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                    <!-- START REVOLUTION SLIDER 5.1.6 auto mode -->
                    <div id="rev_slider_7_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.1.6">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-19" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="/assets/wp-content/uploads/2016/02/college-francais-ecole-privee-montreal-042.jpg" alt="Collège Français école privée Montréal" width="2000" height="1333" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                </div>
                <!-- END REVOLUTION SLIDER -->
            </div>
            <aside id="text-13" class="widget widget_text">
                <div class="textwidget">
                    <div class="portail"><a href="#" class="drop-icon">portail</a>
                        <ul class="portail-menu">
                            <li><a href="https://portaileleve.collegefrancais.ca/Pednet/login.asp?NoRegr=2" title="Portail">Portail</a></li>
                            <li><a href="https://cf.collegefrancais.com/Finnet/login.asp?NoRegr=1" title="Service aux employés">Service aux employés</a></li>
                            <li><a href="http://webmail.collegefrancais.ca/" title="Courriel">Courriel admin</a></li>
                            <li><a href="http://edu.challengeu.com/#login">Challenge U</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </section>
        <!-- Intro Section -->
        <section class="detail-section">
            <div class="container graysection">
                <div class="row">
                    <div class="col-sm-12 pattern-blue">
                        <ul class="breadcrumb">
                            <li>Présentation</li>
                        </ul>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-8">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h1 class="main_title_a animated small-title fadeInUp visible" data-animation-delay="300" data-animation="fadeInUp">Présentation</h1>
                                        <div class="txt-center sub-title">Le Collège Français secondaire de Longueuil</div>

                                    </div>
                                </div>
                                <div class="vc_icon_element vc_icon_element-outer image-icon vc_icon_element-align-left">
                                    <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-lg vc_icon_element-style- vc_icon_element-background-color-grey">
                                        <span class="vc_icon_element-icon fa fa-shield" style="color:#19344e !important"></span></div>
                                </div>
                                <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>C’est en 1987 que le Collège Français fonde l&rsquo;annexe Secondaire située à deux pas de l’annexe Primaire sur la Rive-Sud. Cette initiative permet, depuis, à tous les élèves du Collège Français de bénéficier d’un enseignement de grande qualité du préscolaire jusqu’aux portes du cégep.</p>
                                        <p>Cet enseignement se caractérise par une ouverture à de nombreuses disciplines : le Collège Français propose des concentrations académiques, artistiques et sportives permettant à tous les élèves de découvrir leurs centres d’intérêt et de vivre pleinement leurs passions. Chaque élève trouve sa place : que ce soit dans sa classe, sur un terrain de sport, dans l’auditorium, dans la grande salle de danse ou dans les laboratoires scientifiques équipés des dernières technologies.</p>
                                        <p>Pour les passionnés d&rsquo;arts et de sciences, les programmes en conception de jeux vidéo et de réalité virtuelle et en science et aérospatiale reflètent le dynamisme, l’esprit tourné vers la recherche et l’innovation qui ont fait la renommée de notre Collège. Les compétences du XXI<sup>e</sup> siècle, telles la programmation ou la création d’environnements en 3D, sont à la portée de tous les élèves du Collège Français.</p>
                                        <p>Les élèves athlètes bénéficient d’installations sportives dernier cri, dont un terrain de soccer synthétique extérieur, un vaste gymnase double et l&rsquo;immense Centre Multi-Sports, qui leur permettent de s’entraîner dans les meilleures conditions, tout en poursuivant des études de qualité.</p>
                                        <p>Le Collège Français secondaire de Longueuil est reconnu par diverses fédérations sportives (soccer, hockey, natation) qui lui confient leurs meilleurs espoirs. C’est le tremplin qui propulse de grands athlètes sur la scène internationale. Le Collège Français a aussi contribué à l’éclosion de nombreux talents artistiques qui ont fait leurs premiers pas sur les planches de son auditorium.</p>
                                        <p>Les valeurs acquises par les élèves du Collège Français leur permettent de faire partie de l’élite de demain tout en les outillant pour un avenir florissant.</p>
                                        <h3 style="text-align: center;"><strong>Liste des programmes</strong></h3>
                                        <h4><strong>Sport-études</strong></h4>
                                        <ul>
                                            <li><a href="../../programmes/sport-etudes/hockey/index.html" target="_blank" rel="noopener">Hockey</a></li>
                                            <li><a href="../../programmes/sport-etudes/soccer/index.html" target="_blank" rel="noopener">Soccer</a> et <a href="../../programmes/sport-etudes/cnhp-soccer/index.html" target="_blank" rel="noopener">Centre national de haute performance (CNHP)</a></li>
                                            <li><a href="../../programmes/sport-etudes/natation/index.html" target="_blank" rel="noopener">Natation</a></li>
                                        </ul>
                                        <h4><strong>Concentrations</strong></h4>
                                        <ul>
                                            <li><a href="../../programmes/concentrations-academiques-et-artistiques/concentration-scientifique/index.html" target="_blank" rel="noopener">Science et aérospatiale</a></li>
                                            <li><a href="../../programmes/concentrations-academiques-et-artistiques/conception-de-jeux-video/index.html" target="_blank" rel="noopener">Conception de jeux vidéo et de réalité virtuelle</a></li>
                                            <li><a href="../../programmes/concentrations-academiques-et-artistiques/artistique/index.html" target="_blank" rel="noopener">Arts</a></li>
                                            <li><a href="../../programmes/concentrations-academiques-et-artistiques/danse/index.html" target="_blank" rel="noopener">Danse</a></li>
                                            <li><a href="../../programmes/concentrations-sportives/concentration-sportive-volleyball/index.html" target="_blank" rel="noopener">Volleyball</a></li>
                                            <li><a href="../../programmes/concentrations-sportives/multisport/index.html" target="_blank" rel="noopener">Multisport</a></li>
                                            <li><a href="../../programmes/concentrations-sportives/hockey/index.html" target="_blank" rel="noopener">Hockey</a>, <a href="../../programmes/concentrations-sportives/concentration-benjamin-hockey/index.html" target="_blank" rel="noopener">Concentration Benjamin</a>, <a href="../../programmes/concentrations-sportives/concentration-cadet-hockey/index.html" target="_blank" rel="noopener">Concentration Cadet</a> et <a href="../../programmes/concentrations-sportives/concentration-juvenile-hockey/index.html" target="_blank" rel="noopener">Concentration Juvénile</a></li>
                                            <li><a href="../../programmes/concentrations-sportives/soccer-releve/index.html" target="_blank" rel="noopener">Soccer relève</a></li>
                                            <li><a href="../../programmes/sport-etudes/escrime/index.html" target="_blank" rel="noopener">Escrime</a></li>
                                            <li><a href="../../programmes/sport-etudes/tennis/index.html">Tennis</a></li>
                                        </ul>
                                        <p><a href="../../wp-content/uploads/2018/09/Pr%c3%a9sentation-Programme-sportif.pdf" target="_blank" rel="noopener">Présentation du programme sportif</a></p>
                                        <p><a href="../../wp-content/uploads/2018/09/PROGRAMME-soccer-2018-19-Parents.pdf" target="_blank" rel="noopener">Présentation du programme soccer (Sport-études et Soccer Relève)</a></p>
                                        <h3 style="text-align: center;"><strong>Membres de la direction</strong></h3>
                                        <p>&nbsp;</p>
                                        <p><strong>M. Stéphane Poupart (directeur)</strong></p>
                                        <p>450 679-0770 (poste 410)</p>
                                        <p><strong>Mme Chantal Dubé (directrice adjointe sec. 4 et 5, et directrice des services pédagogiques)</strong></p>
                                        <p>450 679-0770 (poste 405)</p>
                                        <p><strong>M. Jacques Blouin (directeur adjoint sec. 1, 2 et 3, et directeur des sports)</strong></p>
                                        <p>450 679-0770 (poste 404)</p>

                                    </div>
                                </div>
                                <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="pattern-blue wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_widgetised_column wpb_content_element pattern-blue">
                                    <div class="wpb_wrapper">

                                        <aside id="text-8" class="widget widget_text">
                                            <div class="textwidget">
                                                <ul class="sidebar">
                                                    <li data-animation-delay="300" data-animation="fadeInUp" class="animated"><a href="../../admission/index.html"><span class="icon-box"><img src="/assets/wp-content/uploads/2015/11/admission.png" alt="admission" /></span> <h4>Admission</h4> Faites une demande</a></li>
                                                    <li data-animation-delay="500" data-animation="fadeInUp" class="animated"><a href="../../nouvelles/index.html"><span class="icon-box"><img src="/assets/wp-content/uploads/2015/11/speaker1.png" alt="speaker1" /></span> <h4>nouvelles</h4> Soyez au courant</a></li>
                                                    <li data-animation-delay="700" data-animation="fadeInUp" class="animated"><a href="http://cms.collegefrancais.ca/"><span class="icon-box"><img src="/assets/wp-content/uploads/2015/11/icon4.png" alt="sports" /></span> <h4>complexe Sportif</h4>Ici on bouge</a></li>
                                                    <li data-animation-delay="900" data-animation="fadeInUp" class="animated"><a href="../../nous-joindre/index.html"><span class="icon-box"><img src="/assets/wp-content/uploads/2015/11/call.png" alt="call" /></span> <h4>contact</h4>Pour nous joindre</a></li>
                                                </ul>
                                            </div>
                                        </aside>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="cp-load-after-post"></span>
            </div>
        </section>
        <!-- End Intro Section -->
        <!-- Features -->
        <section id="testimonial" class="parallax-section">
            <!-- Overlay1 -->
            <div class="overlay1">
                <!-- Toons -->
                <div class="testimonial toons1">
                    <!-- Content -->
                    <div class="content">
                        <!--White Title-->
                        <div class="section-title-white animated text-center" data-animation="fadeInUp" data-animation-delay="300">
                            <aside id="text-9" class="widget widget_text">
                                <div class="textwidget">
                                    <h1>les témoignages</h1>
                                    <h4>Des paroles qui nous tiennent à coeur</h4>
                                    <br>
                                    <br>
                                    <div class="text-center"><i><img src="/assets/wp-content/uploads/2015/11/chat.png" alt="chat" /></i></div>
                                    <div class="seperator">
                                        <div class="white_line">&nbsp;</div>
                                    </div>
                                </div>
                            </aside>
                            <div id="testimonial-carousel">
                                <div class="item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lectus magna, pharetra in nulla ultricies, sagittis maximus ligula. Sed auctor tortor quis euismod dictum. Sed enim diam, elementum quis lectus ut, tempus vestibulum risus. Aliquam in egestas nunc. Nam a magna quis massa condimentum tincidunt vitae quis eros. Ut dictum justo sagittis tempor hendrerit. Nam fringilla sit amet est pretium placerat.</p>
                                    <span class="cp-load-after-post"></span>
                                    <div class="client-name">
                                        <div class="client-image"></div>
                                        <div class="client-detail">Carla Miranda Ancienne élève Designer</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lectus magna, pharetra in nulla ultricies, sagittis maximus ligula. Sed auctor tortor quis euismod dictum. Sed enim diam, elementum quis lectus ut, tempus vestibulum risus. Aliquam in egestas nunc. Nam a magna quis massa condimentum tincidunt vitae quis eros. Ut dictum justo sagittis tempor hendrerit. Nam fringilla sit amet est pretium placerat.</p>
                                    <span class="cp-load-after-post"></span>
                                    <div class="client-name">
                                        <div class="client-image"></div>
                                        <div class="client-detail">Carla Miranda Ancienne élève Designer</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lectus magna, pharetra in nulla ultricies, sagittis maximus ligula. Sed auctor tortor quis euismod dictum. Sed enim diam, elementum quis lectus ut, tempus vestibulum risus. Aliquam in egestas nunc. Nam a magna quis massa condimentum tincidunt vitae quis eros. Ut dictum justo sagittis tempor hendrerit. Nam fringilla sit amet est pretium placerat.</p>
                                    <span class="cp-load-after-post"></span>
                                    <div class="client-name">
                                        <div class="client-image"></div>
                                        <div class="client-detail">Carla Miranda Ancienne élève Designer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End White Title-->
                    </div>
                    <!-- End Content -->
                </div>
                <!-- End toons -->
            </div>
            <!-- End overlay1 -->
        </section>
        <!-- End Features -->
    </div>
</template>
